.accordion {
    position: relative;
    dd {
        font-size: 1em;
    }
    p {
        padding: 0 26px 26px;
    }
    dl dt {
        &:first-child a {
            padding-top: 0;
        }
        a:hover {
            color: $primary;
        }
    }
}

.accordion__panel {
    font-size: 1em;
}

.accordionTitle {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 15px 0;
    font-size: 1.375em;
    text-decoration: none;
    color: $color_mine_shaft_approx;
    transition: background-color 0.5s ease-in-out;
    font-weight: normal;
    &:before {
        content: "";
        min-width: 20px;
        height: 16px;
        background: $url_4 no-repeat;
        margin-right: 16px;
        transition: all 0.3s;
    }
    &.is-expanded:before {
        content: "";
        width: 16px;
        height: 2px;
        background: $url_5 no-repeat;
        margin-right: 16px;
        transition: all 0.3s;
    }
}

.accordion__Heading {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 15px 0;
    font-size: 1.375em;
    text-decoration: none;
    color: $color_mine_shaft_approx;
    transition: background-color 0.5s ease-in-out;
    font-weight: normal;
    &:before {
        content: "";
        min-width: 20px;
        height: 16px;
        background: $url_4 no-repeat;
        margin-right: 16px;
        transition: all 0.3s;
    }
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    transition: max-height 1s;
    &.is-collapsed {
        max-height: 0;
        border-bottom: 1px solid $color_alto_approx;
    }
}

@media screen and(min-width: 48em) {
    .accordionItem {

        transition: max-height 0.5s;
    }
}

.animateIn {
    animation: accordionIn 0.45s normal ease-in-out both 1;
    border-bottom: 1px solid $color_alto_approx;
}

.animateOut {
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
    0% {
        opacity: 0; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0.9) rotateX(-60deg); //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1);
    }
    100% {
        opacity: 0; //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(0.9) rotateX(-60deg);
    }
}

.accordionTitleActive:before {
    content: "";
    width: 16px;
    height: 2px;
    background: $url_5 no-repeat;
    margin-right: 16px;
    transition: all 0.3s;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

@media(max-width: $tablet-width) {
    .accordion dl dt:first-child a {
        padding: 15px 0;
    }
}