.arrow-run {
    position: relative;
    margin-right: 20px;
    span {
        background-color: $white;
        border-radius: 3px;
        color: $primary;
        display: none;
        font-size: 0.688em;
        left: 50%;
        padding: 5px 10px;
        position: absolute;
        top: -35px;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}