.bridge-native-to-erc20-section {
    padding-bottom: 0;
    padding-top: 50px;

    @media screen and (min-width: 1441px) {
        padding-top: 100px;
    }
}

.bridge-native-to-erc20-section-image {
    @include image-retina(#{ $base-images-path + '/bridge-native-to-erc20-section/pic-1' }, 'jpg');
    @include aspect-ratio(2280px, 603px);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
