.bridge-primary-gradient-section {
    background-image: linear-gradient(to left, #7258b0, #5231a0);
    padding: 60px 0;
}

.bridge-primary-gradient-section-title-and-description {
    padding: 70px 0 55px;
}

.bridge-primary-gradient-section-title {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
  }

  .bridge-primary-gradient-section-description {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    margin: 0;
    opacity: 0.7;
    padding: 0;
    text-align: center;
  }