$bridge-lock-mint-burn-unlock-item-dimensions: 80px;
$bridge-lock-mint-burn-unlock-item-horizontal-margin: 50px;
$bridge-lock-mint-burn-unlock-item-horizontal-margin-tablet: 40px;

.bridge-lock-mint-burn-unlock {
    display: flex;
    justify-content: space-between;

    @media(max-width: $mobile-width) {
        align-items: center;
        flex-direction: column;
    }
}

.bridge-lock-mint-burn-unlock-item-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: $bridge-lock-mint-burn-unlock-item-dimensions  + $bridge-lock-mint-burn-unlock-item-horizontal-margin * 2;

    @media(max-width: $tablet-width) {
        width: $bridge-lock-mint-burn-unlock-item-dimensions  + $bridge-lock-mint-burn-unlock-item-horizontal-margin-tablet * 2;
    }

    @media(max-width: $mobile-width) {
        margin-bottom: 10px;
    }
}

.bridge-lock-mint-burn-unlock-item {
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(#fff, 0.2);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: $bridge-lock-mint-burn-unlock-item-dimensions;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    width: $bridge-lock-mint-burn-unlock-item-dimensions;

    @media(max-width: $mobile-width) {
        margin-bottom: 15px;
    }
}

.bridge-lock-mint-burn-unlock-item-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 12px;
    margin-top: 3px;

    &.lock {
        background-image: url('#{ $base-images-path }/bridge-lock-mint-burn-unlock/lock.svg');
        height: 30px;
        width: 20px;
    }
    &.burn {
        background-image: url('#{ $base-images-path }/bridge-lock-mint-burn-unlock/burn.svg');
        height: 30px;
        width: 26px;
    }
    &.mint {
        background-image: url('#{ $base-images-path }/bridge-lock-mint-burn-unlock/mint.svg');
        height: 30px;
        width: 30px;
    }
    &.unlock {
        background-image: url('#{ $base-images-path }/bridge-lock-mint-burn-unlock/unlock.svg');
        height: 30px;
        width: 20px;
    }
}

.bridge-lock-mint-burn-unlock-item-text {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
}

.bridge-lock-mint-burn-unlock-item-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    text-align: center;
}

.bridge-lock-mint-burn-unlock-separator {
    background-color: rgba(#fff, 0.2);
    flex-grow: 1;
    height: 1px;
    margin-left: -#{ $bridge-lock-mint-burn-unlock-item-horizontal-margin };
    margin-right: -#{ $bridge-lock-mint-burn-unlock-item-horizontal-margin };
    margin-top: 40px;

    @media(max-width: $tablet-width) {
        margin-left: -#{ $bridge-lock-mint-burn-unlock-item-horizontal-margin-tablet };
        margin-right: -#{ $bridge-lock-mint-burn-unlock-item-horizontal-margin-tablet };
    }

    @media(max-width: $mobile-width) {
        height: 65px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        width: 1px;
    }

    &.beginning {
        background-color: transparent;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        margin-left: 0;

        @media(max-width: $mobile-width) {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        }
    }

    &.end {
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        margin-right: 0;

        @media(max-width: $mobile-width) {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        }
    }
}