.bridge-erc20-to-erc20-section {
    padding-bottom: 0;
    padding-top: 100px;
}

.bridge-erc20-to-erc20-section-image {
    @include image-retina(#{ $base-images-path + '/bridge-erc20-to-erc20-section/pic-2' }, 'jpg');
    @include aspect-ratio(2280px, 603px);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
