.bridge-erc20-to-native-section {
    padding-bottom: 0;
    padding-top: 100px;
}

.bridge-erc20-to-native-section-image {
    @include image-retina(#{ $base-images-path + '/bridge-erc20-to-native-section/pic-3' }, 'jpg');
    @include aspect-ratio(2280px, 603px);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
