// base buttons
.btn {
    border-radius: 3px;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 0.95em;
    font-weight: 700;
    padding: 10px 16px;

    &:hover {
        color: #fff;
    }
    &:focus {
        box-shadow: none;
    }

    &.btn-primary {

        background-color: $primary-green;

        &:hover {
            background-color: $primary-green-dark;
        }

        &.fs-15 {
            font-size: 15px;
        }

    }

    // explorer button on topbar
    &.btn-explorer {
        background-color: $dapp-label-live;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px;

        &:hover {
            background-color: darken($dapp-label-live, 10%);
        }
    }

    // hiring button on topbar
    &.btn-hiring {
        margin-left: 15px !important;
        .head-container & {
            background-color: rgba(#8c81f8, .1);
            border-radius: 14px 14px 14px 0;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            height: 28px;
            line-height: 0.86;
            padding: 9px 18px 8px 11px;
            color: #5332a0;
            position: relative;

            &:hover {
                background-color: rgba(#8c81f8, .18);
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 8px;
                border-radius: 3px;
                width: 5px;
                height: 5px;
                background-color: #7dd79f;
                transform: translateY(-50%);
            }

        }
    }

    // icon buttons
    &.icon-watch {
        background-image: url('#{ $base-images-path }/icons/icon-watch.svg');
        background-position: calc(100% - 15px) 50%;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        padding-right: 50px;
    }
    &.icon-arrow-right {
        background-image: url('#{ $base-images-path }/icons/icon-arrow-right.svg');
        background-position: calc(100% - 15px) 50%;
        background-repeat: no-repeat;
        background-size: 18px 12px;
        padding-right: 45px;
    }
    &.icon-play {
        background-image: url('#{ $base-images-path }/icons/play.svg');
        background-position: calc(100% - 15px) 50%;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        padding-right: 45px;
    }

}