.core-tabs-content {
    background-image: linear-gradient(to bottom, #e5e4ff, #efefff 20%, #ffffff);
    background-repeat: no-repeat;
    background-size: 100% 86px;

    > .container {
        display: none;

        &.active {
            display: block;
        }
    }
}

.core-tabs-content-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
}

.core-tabs-content-text {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}