.core-consensus-section {
    background-image: linear-gradient(to left, #7258b0, #5231a0);
}

.core-consensus-section-title {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 45px;
    padding: 0;
    text-align: center;
}

.core-consensus-section-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.core-consensus-section-image {
    @include image-retina(#{ $base-images-path + '/core-consensus-section/pic-consensus' }, 'png');
    @include aspect-ratio(999px, 232px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}