$tabs-images-path: '/core-top-tabs/';

.core-top-tabs {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #f6f6ff, #ffffff);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 123px;
    min-height: 155px;

    @media(max-width: $mobile-width) {
        background-size: cover;
    }

    > .container {
        display: flex;
        justify-content: space-between;
    }
}

.core-top-tab {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    @media(max-width: $mobile-width) {
        height: auto;
        margin: 0!important;
        max-width: 25%;
    }

    &.image-1 {
        @include image-retina(#{ $base-images-path + $tabs-images-path + 'bridge' }, 'png');
        height: 127px;
        margin-top: 15px;
        width: 210px;

        &.active {
            @include image-retina(#{ $base-images-path + $tabs-images-path + 'bridge-active' }, 'png');
        }
    }
    &.image-2 {
        @include image-retina(#{ $base-images-path + $tabs-images-path + 'poa-20' }, 'png');
        height: 139px;
        width: 202px;

        &.active {
            @include image-retina(#{ $base-images-path + $tabs-images-path + 'poa-20-active' }, 'png');
        }
    }
    &.image-3 {
        @include image-retina(#{ $base-images-path + $tabs-images-path + 'games' }, 'png');
        height: 133px;
        width: 134px;

        &.active {
            @include image-retina(#{ $base-images-path + $tabs-images-path + 'games-active' }, 'png');
        }
    }
}