$dapp-image-width: 382px;
$dapp-image-height: 310px;
$dapp-image-width-mobile: 290px;
$dapp-image-height-mobile: 235px;
$core-governance-dapps-image-container-width: 279px;
$core-governance-dapps-image-container-height: 158px;
$core-governance-dapps-image-container-width-mobile: 213px;
$core-governance-dapps-image-container-height-mobile: 121px;

.core-governance-dapps {
    background: #fff;

    > .container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $tablet-width-horizontal) {
            flex-direction: column;
            justify-content: center;
        }
    }

}

.core-governance-dapps-list-item {
    .slick-vertical & {
        align-items: center;
        border-bottom: solid 1px #ececec;
        cursor: pointer;
        opacity: 0.5;
        padding: 30px 0;
        transition: all 1s;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        &.slick-current {
            opacity: 1;
        }
    }
}

.core-governance-dapps-item-title {
    color: #666;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 auto 0 0;
    padding: 0;
    text-align: left;
}

.core-governance-dapps-badge-live {
    background-color: $primary-green;
    border-radius: 3px;
    color: $white;
    font-size: 0.688em;
    font-weight: 500;
    line-height: 21px;
    margin-right: 9px;
    padding: 0 7px;
    text-transform: uppercase;
}

.core-governance-dapps-badge-soon {
    background-color: $primary;
    border-radius: 3px;
    color: $white;
    font-size: 0.688em;
    font-weight: 500;
    line-height: 21px;
    margin-right: 9px;
    padding: 0 7px;
    text-transform: uppercase;
}

.core-governance-dapps-image {
    flex-shrink: 0;
    height: $dapp-image-height;
    margin-right: 50px;
    max-width: 100%;
    order: 2;
    position: relative;
    width: $dapp-image-width;

    @media screen and (max-width: $tablet-width-horizontal) {
        align-self: center;
        order: 1;
    }

    @media screen and (max-width: $tablet-width) {
        margin-right: 0;
    }

    @media(max-width: $mobile-width) {
        height: $dapp-image-height-mobile;
        width: $dapp-image-width-mobile;
    }
}

.core-governance-dapps-image-item {
    align-items: center;
    display: flex !important;
    height: $core-governance-dapps-image-container-height;
    justify-content: center;
    width: $core-governance-dapps-image-container-width;

    @media(max-width: $mobile-width) {
        height: $core-governance-dapps-image-container-height-mobile;
        width: $core-governance-dapps-image-container-width-mobile;
    }

    img {
        max-width: 100%;
    }
}

.core-governance-dapps-image-item-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.core-governance-dapps-image-container {
    height: $core-governance-dapps-image-container-height;
    left: 51px;
    position: absolute;
    top: 36px;
    width: $core-governance-dapps-image-container-width;
    z-index: 1;

    @media(max-width: $mobile-width) {
        height: $core-governance-dapps-image-container-height-mobile;
        left: 38px;
        top: 26px;
        width: $core-governance-dapps-image-container-width-mobile;
    }
}

.core-governance-dapps-image-frame {
    @include image-retina(#{ $base-images-path + '/apps/dapps-pic' }, 'png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: $dapp-image-height;
    position: relative;
    width: $dapp-image-width;
    z-index: 12;

    @media(max-width: $mobile-width) {
        height: $dapp-image-height-mobile;
        width: $dapp-image-width-mobile;
    }
}

.core-governance-dapps-image-change {
    height: $core-governance-dapps-image-container-height;
    overflow: hidden;
    position: relative;
    width: $core-governance-dapps-image-container-width;

    @media(max-width: $mobile-width) {
        height: $core-governance-dapps-image-container-height-mobile;
        width: $core-governance-dapps-image-container-width-mobile;
    }

    img {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s;
    }
}

.core-governance-dapps-list {
    max-width: 100%;
    order: 1;
    width: 380px;

    @media screen and (max-width: $tablet-width-horizontal) {
        order: 2;
        align-self: center;
    }
}

.core-governance-dapps-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 35px;
    padding: 0;
    text-align: left;

    @media(max-width: $tablet-width) {
        text-align: center;
    }
}
