.core-section-validators {
    background: $color_daisy_bush_approx;
    background: linear-gradient(to bottom, $color_daisy_bush_approx 0, $color_purple_heart_approx 99%);
    padding: 100px 0 50px 0;
    .item-slider {
        .left-side {
            position: relative;
            width: 50%;
        }
        .right-side {
            position: relative;
            width: 50%;
        }
        .pattern-slider {
            position: relative;
            height: 360px;
            .validator-img-block {
                align-content: center;
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                height: 80%;
                justify-content: left;
                margin: auto;
                width: 120px;
                img {
                    box-shadow: 0 30px 40px 0 $primary;
                }
                span {
                    background-color: $white;
                    border-radius: 5px;
                    color: $primary;
                    font-size: 0.688em;
                    font-weight: 500;
                    padding: 2px 6px 1px;
                    position: relative;
                    text-align: center;
                    white-space: nowrap;
                    &:before {
                        border-right: 10px solid transparent;
                        border-top: 7px solid $white;
                        content: '';
                        height: 0;
                        position: absolute;
                        right: -4px;
                        top: 0;
                        width: 0;
                    }
                }
            }
            &:before {
                background-size: contain;
                background: $url_3 no-repeat;
                content: '';
                height: 300px;
                left: 50%;
                position: absolute;
                top: 0;
                transform: translate(-50%);
                width: 300px;
                z-index: -1;
            }
        }
        p {
            margin-bottom: 0;
            padding-right: 100px;
        }
        .map-grid img {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

@media(max-width: $container-responsive-width) {
    .core-section-validators .item-slider {
        h1 {
            margin-top: 0;
            font-size: 2rem;
        }
        p {
            padding-right: 0;
        }
        .pattern-slider:before {
            left: 50%;
        }
    }
}

@media(max-width: $tablet-width) {
    .core-section-validators .item-slider {
        .left-side {
            width: 100%;
            margin: auto;
            padding: 0 30px;
        }
        .right-side {
            width: 100%;
            margin: auto;
            padding: 0 30px;
        }
        p {
            padding-right: 0;
        }
    }
}

@media(max-width: $landscape-mobile-width) {
    .core-section-validators .item-slider {
        .left-side {
            width: 100%;
            padding: 0 30px;
        }
        .right-side {
            width: 100%;
            padding: 0 30px;
        }
        p {
            padding-right: 0;
        }
    }
}