.core-services-section {
    > .container {
        display: grid;
        grid-column-gap: 95px;
        grid-row-gap: 80px;
        grid-template-columns: 1fr 1fr;

        @media(max-width: $mobile-width) {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
    }
}

.core-services-section-item {
    display: flex;
    flex-direction: column;

    @media(max-width: $mobile-width) {
        align-items: center;
        margin-bottom: 40px;
    }
}

.core-services-section-item-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &.transparency {
        @include image-retina(#{ $base-images-path + '/core-services-section/pic-transparency' }, 'png');
        height: 208px;
        margin-bottom: 55px;
        width: 171px;
    }

    &.notaries {
        @include image-retina(#{ $base-images-path + '/core-services-section/pic-notaries' }, 'png');
        height: 200px;
        margin-bottom: 63px;
        width: 200px;
    }

    &.security {
        @include image-retina(#{ $base-images-path + '/core-services-section/pic-security' }, 'png');
        height: 200px;
        margin-bottom: 55px;
        width: 131px;
    }

    &.scalability {
        @include image-retina(#{ $base-images-path + '/core-services-section/pic-scalability' }, 'png');
        height: 205px;
        margin-bottom: 50px;
        width: 202px;
    }

    &.ballots {
        @include image-retina(#{ $base-images-path + '/core-services-section/pic-ballots' }, 'png');
        height: 201px;
        margin-bottom: 55px;
        width: 156px;
    }

    &.voting {
        @include image-retina(#{ $base-images-path + '/core-services-section/pic-voting' }, 'png');
        height: 206px;
        margin-bottom: 50px;
        width: 219px;
    }
}

.core-services-section-item-title {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 25px;
    padding: 0;
    text-align: left;

    @media(max-width: $mobile-width) {
        text-align: center;
    }
}

.core-services-section-item-text {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0;
    padding: 0;
    text-align: left;

    @media(max-width: $mobile-width) {
        text-align: center;
    }
}