.core-governance-table-section {
    background-image: linear-gradient(to left, #7258b0, #5231a0);
    margin-bottom: 100px;
}

.core-governance-table-section-title {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 35px;
    padding: 0;
    text-align: center;
}

.table-governance {
    padding: 40px 15px 0;
    position: relative;
    width: 100%;

    .main-gradient-cell {
        background-color: rgba(255, 255, 255, 0.1);
    }

    ul {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        margin: 0;
        padding: 0;
        top: 0;
        z-index: 10;
    }
    li {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        max-height: 50px;
        padding: 20px 10px;
        text-align: center;

        &.active {
            background-color: #7dd79f;
            border-radius: 5px;
        }
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        .sidebar-words {
            font-size: 1rem;
            padding-left: 0;
        }
    }
    th {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: none;
    }
    td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-left: none;
        border-right: none;
        border-top: none;
        color: #fff;
        empty-cells: show;
        font-size: 0.875em;
        height: 100px;
        padding: 20px 18px;
        text-align: left;

        + td {
            display: none;
            text-align: center;

            &.active {
                display: table-cell;
            }
        }

        &.default {
            display: table-cell;
        }
    }

    .sep {
        background: $color_wild_sand_approx;
        font-weight: 500;
    }

    .txt-l {
        font-size: 28px;
        font-weight: 500;
    }
    .txt-top {
        position: relative;
        top: -9px;
        left: -2px;
    }
    .tick {
        font-size: 18px;
        color: $color_forest_green_approx;
    }
    .hide {
        border: 0;
        background: none;
    }
    tr:last-child td {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
        border: 0 solid $black;
    }
    thead tr th:nth-child(2) {
        border-radius: 10px 10px 0 0;
    }
}

@media(min-width: 640px) {
    .table-governance {
        ul {
            display: none;
            li {
                .logo_poa_table {
                    display: block;
                }
                .m-poa-table {
                    display: none;
                }
            }
        }
        td {
            display: table-cell !important;
            width: 20%;
            +td {
                width: auto;
            }
        }
    }
    th {
        display: table-cell !important;
        width: 20%;
        +th {
            width: auto;
        }
    }
    .table-governance {
        padding: 40px 15px;
        ul {
            flex-direction: column;
            height: auto;
            margin-bottom: 30px;
            li {
                padding: 20px 0;
                width: 100%;
                .logo_poa_table {
                    display: none;
                }
                .m-poa-table {
                    display: block;
                }
                img {
                    filter: grayscale(100%);
                    max-width: 150px;
                    opacity: 0.3;
                    transition: all 1s;
                }
                &.active img {
                    filter: none;
                    opacity: 1;
                }
            }
        }
        .main-gradient.active {
            display: table-cell;
        }
    }
}