$customer-quotes-slideshow-mobile-breakpoint: 767px;

.customer-quotes-slideshow {
    padding: 90px 0 0;

    > .container {
        display: flex;
        justify-content: space-between;

        @media(max-width: $customer-quotes-slideshow-mobile-breakpoint) {
            flex-direction: column;
        }
    }
}

.customer-quotes-logos-container {
    width: 190px;

    @media(max-width: $customer-quotes-slideshow-mobile-breakpoint) {
        width: 100%;
    }
}

.customer-quotes-logos {
    @media(max-width: $customer-quotes-slideshow-mobile-breakpoint) {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        min-width: fit-content;
    }
}

.customer-quotes-logo {
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-bottom: 45px;
    max-width: 100%;
    opacity: 0.5;

    &.active {
        opacity: 1;
    }

    @media(max-width: $customer-quotes-slideshow-mobile-breakpoint) {
        flex-shrink: 0;
        margin-right: 30px;
    }
}

.customer-quotes-slideshow-quotes {
    max-width: 100%;
    width: 640px;

    @media(max-width: $tablet-width) {
        width: 500px;
    }

    @media(max-width: $customer-quotes-slideshow-mobile-breakpoint) {
        width: auto;
    }
}

.customer-quotes-slideshow-graphic {
    background-image: url('#{ $base-images-path }/customer-quotes-slideshow/quote.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 41px;
    margin-bottom: 60px;
    width: 56px;
}

.customer-quotes-slideshow-the-text {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    margin: 0 0 50px;
    padding: 0;
    text-align: left;
}

.customer-quotes-slideshow-name {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
}

.customer-quotes-slideshow-company {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: left;
}

.customer-quotes-slideshow-loading {
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 300px;
}