.dapp-labels {
    align-items: center;
    display: flex;
    .dapp-label {
        align-items: center;
        border-bottom-left-radius: $dapp-label-border-radius;
        border-bottom-right-radius: $dapp-label-border-radius;
        border-top-left-radius: $dapp-label-border-radius;
        border-top-right-radius: 0;
        display: flex;
        height: $dapp-label-height;
        justify-content: center;
        padding: 0 10px;
        position: relative;
        z-index: 1;
        &:after {
            $item-width: 8px;

            content: '';
            height: 9px;
            position: absolute;
            right: -#{ $item-width };
            top: 0;
            width: $item-width;
            z-index: -1;
        }
        .daaps-label-text {
            color: #fff;
            font-size: 11px;
            font-weight: 700;
            margin-top: 2px;
            text-transform: uppercase;
        }
        img,
        .dapp-label-image {
            margin-right: 6px;
        }
        // label types
        &.dapp-label-live {
            background: $dapp-label-live;
            &:after {
                background: url('#{ $base-images-path }/daaps/svg/1.svg') no-repeat;
            }
            .dapp-round-img {
                $dapp-round-img-dimensions: 6px;

                background: #5f9165;
                border-radius: 50%;
                height: $dapp-round-img-dimensions;
                width: $dapp-round-img-dimensions;
            }
        }
        &.dapp-label-hot {
            background: $dapp-label-hot-bg;
            &:after {
                background: url('#{ $base-images-path }/daaps/svg/2.svg') no-repeat;
            }
        }
        &.dapp-label-in-progress {
            background: $dapp-label-in-progress;
            img {
                margin-right: 5px;
            }
            &:after {
                background: url('#{ $base-images-path }/daaps/svg/4.svg') no-repeat;
            }
        }
        &.dapp-label-poa {
            background: $dapp-label-poa;
            &:after {
                background: url('#{ $base-images-path }/daaps/svg/3.svg') no-repeat;
            }
        }
        &.dapp-label-poa-20 {
            background: $dapp-label-poa-20;
            &:after {
                background: url('#{ $base-images-path }/daaps/svg/5.svg') no-repeat;
            }
        }
    }
}