footer {
    background-color: $primary;
    padding: 50px 0;

    .logo-footer {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        @media (min-width: $container-width) {
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            text-align: left;
        }
    }

    .footer-info {
        @media (min-width: $container-width) {
            max-width: 220px;
        }
    }

    .footer-text {
        font-size: 12px;
        line-height: 1.666;
        color: $footer-font-color;
    }


    .footer-icon ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 30px 0 0 0;
        @media (min-width: $container-width) {
            width: 150px;
            justify-content: space-between;
        }
        li {
            list-style: none;
            & + li {
                margin-left: 16px;
                @media (min-width: $container-width) {
                    margin-left: 0;
                }
            }
            a {
                i {
                    color: $footer-font-color;
                    font-size: 1.25em;
                    transition: all 0.3s;
                    &.fa-forum {
                        &:before {
                            content: "";
                            width: 20px;
                            height: 16px;
                            background: url(../img/footer-forum.svg);
                            display: inline-block;
                        }
                    }
                }
                &:hover i {
                    color: $color_mercury_approx;
                    &.fa-forum {
                        &:before {
                            // add code
                        }
                    }
                }
            }
        }
    }

    .nav-list {
        @media (min-width: $container-width) {
            max-width: 120px;
        }
        padding-top: 1.8em;

        .nav-list-heading {
            color: $white;
            font-size: 14px;
            line-height: 1.42;
            margin-bottom: 20px;
            font-weight: 400;
        }

        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
            li {
                display: block;
                & + li {
                    margin-top: 5px;
                }
                a {
                    display: inline-block;
                    padding-left: 15px;
                    position: relative;
                    color: $footer-font-color;
                    font-size: 12px;
                    line-height: 1.666;
                    transition: .2s ease-in;
                    &:hover {
                        color: $color_mercury_approx;
                    }
                    &:after {
                        content: "";
                        width: 6px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: $primary-green;
                        position: absolute;
                        left: 0;
                        top: 6px;
                    }
                }
            }
        }
    }
}