
.form-control,
textarea {
    border-radius: 3px;
    border: solid 1px $color_alto_approx;
    &:focus {
        box-shadow: none !important;
        border-color: $primary;
        outline: none !important;
    }
}

.input-group > {
    .custom-select:not(:last-child) {
        border-radius: 3px;
    }
    .form-control:not(:last-child) {
        border-radius: 3px;
    }
}

.text-label {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 6px;
}