.menu-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.hamburger-menu {
    width: 70%;
    height: 3px;
    position: relative;
    transform: translateY(25px);
    background: $primary;
    transition: all 0ms 300ms;
    &:after {
        width: 70%;
        height: 3px;
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        background: $primary;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:before {
        width: 70%;
        height: 3px;
        content: "";
        position: absolute;
        left: 0;
        bottom: 8px;
        background: $primary;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &.animate {
        background: rgba(255, 255, 255, 0);
        &:after {
            position: fixed;
            top: 0;
            background: $white;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:before {
            position: fixed;
            bottom: 0;
            background: $white;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}