.main-nav {
    // padding: 20px 0;

    & > .container-fluid {
        padding-left: 0;
    }

    @media screen and (max-width: $mobile-width) {
        min-height: 50px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .header-push-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
    }

    .header-int-links {
        display: flex;
        align-items: center;
        .header-int-links-item {
            display: inline-flex;
            flex: 0 0 60px;
            align-items: center;
            justify-content: center;
            line-height: 1;
            font-size: 15px;
            height: 60px;
            overflow: hidden;
            padding: 0 12px;
            transition: .3s ease-in;
            @media (min-width: 1200px) {
                &:hover {
                    flex: 0 0 auto;
                    span {
                        // display: block;
                        max-width: 10rem;
                    }
                    @media (min-width: 1200px) {
                        img {
                            margin-right: 10px;
                        }
                    }
                }
                clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
                padding: 0 40px;
                flex: 0 0 100px;
                height: 60px;
                & + .header-int-links-item {
                    margin-left: -22px;
                }
            }
            span {
                // margin-left: 10px;
                // display: none;
                max-width: 0;
                white-space: nowrap;
                overflow: hidden;
                transition: .3s ease-in;
                @media (max-width: 549px) {
                    display: none !important;
                }
            }

            &.active {
                flex: 0 0 auto;
                span {
                    // display: block;
                    max-width: 10rem;
                    opacity: 1;
                }
                @media (max-width: 549px) {
                    flex: 0 0 60px !important;
                }
                @media (min-width: 550px) {
                    img {
                        margin-right: 10px;
                    }
                }
            }

            &:nth-child(1) {
                background-color: lighten($primary, 8);
                color: #fff;
                @media (min-width: 1200px) {
                   clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
                   padding-left: 15px;
                }
                
                &:hover {
                    background-color: darken($primary, 8);
                }
                
                img {
                    width: 44px;
                }
            }

            &:nth-child(2) {
                background-color: #1cbb9d;
                color: #fff;
                
                &:hover {
                    background-color: darken(#1cbb9d, 4);
                }
                
                img {
                    width: 28px;
                }
            }
            
            &:nth-child(3) {
                background-color: #efe3ff;
                color: #5c34a2;
                
                &:hover {
                    background-color: darken(#efe3ff, 4);
                }
                 
                img {
                    width: 37px;
                }
            }
            
            &:nth-child(4) {
                background-color: #edf7ff;
                color: #004a89;
                
                &:hover {
                    background-color: darken(#edf7ff, 4);
                }
                
                img {
                    width: 27px;
                }
            }
        }
    }

    .nav-wrap {
        align-items: center;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $mobile-width) {
            min-height: 50px;
        }

        .header-menu {
            justify-content: flex-end;
            width: 58%;
            ul {
                flex-direction: row;
                li {
                    a {
                        color: $primary;
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        margin-right: 20px;
                        &:hover {
                            color: $color_meteorite_approx;
                        }

                        @media (max-width: $tablet-width) {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $container-responsive-width) {
    #mainNav {
        .collapse {
            ul {
                li {
                    a {
                        margin: 0;
                        padding: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .main-nav {
        .nav-wrap {
            justify-content: normal;
            .hidden-nav {
                background: $primary;
                bottom: 0;
                height: 100vh;
                left: 0;
                position: fixed;
                top: 0;
                transform: translate(100%);
                transition: all 0.25s;
                visibility: hidden;
                width: 100%;
                z-index: 123;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &.active {
                    transform: translate(0);
                    visibility: visible;
                }
                ul {
                    align-items: center;
                    height: calc(100% - 88px);
                    justify-content: center;
                    li {
                        a {
                            color: white;
                            display: block;
                            font-size: 2rem;
                            padding: 20px 0;
                        }
                    }
                }

                .nav-icon ul li.item-icon a:hover {
                    color: #ccc;
                }
            }
            .hidden-btn {
                height: 50px;
                order: 5;
                width: 50px;

                @media screen and (max-width: $mobile-width) {
                    margin-right: -15px;
                }

                &.active {
                    position: fixed;
                    right: 10px;
                    top: 10px;
                    z-index: 123;
                }
            }
        }
    }
}

.menu-wrapper {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.hamburger-menu {
    background: $primary;
    position: relative;
    transform: translateY(25px);
    transition: all 0ms 300ms;
    &,
    &:after,
    &:before {
        width: 70%;
        height: 3px;
    }
    &:before {
        background: $primary;
        bottom: 8px;
        content: "";
        left: 0;
        position: absolute;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:after {
        background: $primary;
        content: "";
        left: 0;
        position: absolute;
        top: 8px;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &.animate {
        background: rgba(255, 255, 255, 0);
        &:after {
            background: #fff;
            position: fixed;
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:before {
            background: #fff;
            bottom: 0;
            position: fixed;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

.head-container {
    display: flex;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-horizontal) {
        flex-direction: column;
    }

    .btn {
        font-size: 11px;
        line-height: 23px;
        margin-left: 20px;
        padding: 0 8px;

        @media (min-width: $tablet-width) and (max-width: $tablet-width-horizontal) {
            line-height: 20px;
            margin-left: 0;
            margin-top: 10px;
            padding: 0 5px;
        }
    }
}

.nav-icon {
    ul {
        margin: 0;
        padding: 0;
        li.item-icon {
            display: inline-block;
            list-style: none;
            a {
                margin-right: 15px;
                font-size: 1.250em !important;
                color: $primary;
                &:hover {
                    color: $color_meteorite_approx;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media(max-width: $tablet-width-horizontal) {
    .main-nav {
        .nav-wrap {
            justify-content: space-between;
            .header-menu {
                width: auto;
            }
        }
    }
}

@media (min-width: $tablet-width) {
    .nav-wrap {
        .hidden-nav {
            display: none;
            position: absolute;
        }
        .hidden-btn {
            display: none;
        }
    }
}

.header-logo {
    position: relative;
    top: 2px;
}