.iframe-img-block {
    background-image: $url_2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    width: 100%;
    height: 250px;
    position: absolute;
}

.iframe-img-play-button {
    background-color: $primary-green;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:after {
        border-left: 23px solid $white;
        border-right: 1px solid transparent;
        border: 13px solid transparent;
        content: '';
        display: block;
        height: 1px;
        margin-left: 32px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
    }
}
