.instant-exchanges-section {
    > .container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $mobile-width) {
            flex-direction: column;
        }
    }
}

.instant-exchanges-content {
    flex-grow: 0;
    max-width: 45%;
    width: 420px;

    @media screen and (max-width: $mobile-width) {
        max-width: 100%;
        order: 2;
    }
}

.instant-exchanges-main-image {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 50px;
    max-width: 45%;
    width: 401px;

    .the-image-container {
        @include aspect-ratio(401px, 416px);
        @include image-retina(#{ $base-images-path + '/instant-exchanges/pic-exchanges' }, 'png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        &.alternate-color {
            @include image-retina(#{ $base-images-path + '/instant-exchanges/pic-exchanges-alt' }, 'png');
        }
    }

    @media screen and (max-width: $tablet-width) {
        margin-right: 0;
    }

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 40px;
        margin-right: 0;
        max-width: 100%;
        order: 1;
    }
}

.instant-exchanges-title {
    color: #5332a0;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.2;
    margin: 0 0 35px;
    padding: 0;
    text-align: left;

    @media screen and (max-width: $mobile-width) {
        text-align: center;
    }
}

.instant-exchanges-text {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    margin: 0 0 60px 0;
    padding: 0;
    text-align: left;

    @media screen and (max-width: $mobile-width) {
        text-align: center;
    }
}

.instant-exchanges-logos {
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.instant-exchanges-logo {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 60px;
    &:last-child {
        margin-right: 0;
    }
    @media screen and (max-width: $mobile-width) {
        margin-bottom: 30px;
        margin-right: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.coinswitch {
        @include image-retina(#{ $base-images-path + '/instant-exchanges/logos/coinswitch' }, 'png');
        height: 20px;
        width: 180px;
    }
    &.cryptowolf {
        @include image-retina(#{ $base-images-path + '/instant-exchanges/logos/cryptowolf' }, 'png');
        height: 47px;
        width: 180px;
    }
}