.main-body-container {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 120px;

    @media screen and (max-width: $mobile-width) {
        background-position-y: 80px;
    }

    .wrap-blockchain {
        margin-bottom: 100px;
    }
    .poa-network-video {
        padding-bottom: 0;
    }
    .bl-video-block {
        height: 100px;
        width: 22.5%;
        display: inline-block;
    }
    .poa-network-grad {
        background-image: linear-gradient(to right, $color_deluge_84_approx, $color_gigas_84_approx);
    }
    .bl-video-top-1 {
        background-color: $color_granny_smith_apple_approx;
        border-top-left-radius: 3px;
        margin-bottom: -50px;
    }
    .bl-video-top-2 {
        background-color: $color_daisy_bush_approx;
        border-top-right-radius: 250px;
        margin-bottom: -50px;
    }
    .bl-video-top-3 {
        background-color: $color_portage_approx;
        border-top-left-radius: 250px;
        margin-bottom: -50px;
    }
    .bl-video-top-4 {
        background-color: $color_aqua_island_approx;
        border-top-right-radius: 3px;
        margin-bottom: -50px;
    }
    .bl-video-bottom-wrapper {
        width: 90%;
        margin: auto;
    }
    .bl-video-bottom-1 {
        background-color: $color_portage_approx;
        border-bottom-left-radius: 3px;
        margin-top: -50px;
        float: left;
        width: 25%;
    }
    .bl-video-bottom-2 {
        background-color: $color_aqua_island_approx;
        border-bottom-right-radius: 250px;
        margin-top: -50px;
        float: left;
        width: 25%;
    }
    .bl-video-bottom-3 {
        background-color: $color_granny_smith_apple_approx;
        border-bottom-left-radius: 250px;
        margin-top: -50px;
        float: left;
        width: 25%;
    }
    .bl-video-bottom-4 {
        background-color: $color_daisy_bush_approx;
        border-bottom-right-radius: 3px;
        margin-top: -50px;
        float: left;
        width: 25%;
    }
}

@media(max-width: $tablet-width) {
    .main-body-container {
        background-size: auto 760px;
    }
}