.masthead {
    padding-top: 5rem;
    padding-bottom: calc(10rem - 56px);
    h2 {
        font-size: 2.250em;
    }
}

@media(max-width: $landscape-mobile-width) {
    .masthead h2 {
        font-size: 1.7em;
    }
}

@media(min-width: $container-responsive-width) {
    .masthead {
        min-height: 530px;
        padding-top: 0;
        padding-bottom: 0;
    }
}