.mfp-bg {
    opacity: 0.9 !important;
    background: $primary !important;
}

.mfp-content {
    h1 {
        font-size: 1.125em;
        color: $color_mine_shaft_approx;
    }
    p {
        padding-top: 20px;
        margin-bottom: 0;
    }
}

.mfp-close {
    top: 30px;
    right: 30px;
    font-size: 56px;
    opacity: 1;
    text-indent: 999999px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 40px;
        background: $url_0 no-repeat;
    }
    &:active {
        top: 30px;
        right: 30px;
    }
}

.my-mfp-zoom-in {
    .zoom-anim-dialog {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    &.mfp-ready {
        .zoom-anim-dialog {
            opacity: 1;
            transform: scale(1);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    &.mfp-removing {
        .zoom-anim-dialog {
            transform: scale(0.8);
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
    &.mfp-bg {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
}

.my-mfp-slide-bottom {
    .zoom-anim-dialog {
        opacity: 0;
        transition: all 0.2s ease-out;
        transform: translateY(-20px) perspective(500px) rotateX(10deg);
    }
    &.mfp-ready {
        .zoom-anim-dialog {
            opacity: 1;
            transform: translateY(0) perspective(500px) rotateX(0);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    &.mfp-removing {
        .zoom-anim-dialog {
            opacity: 0;
            transform: translateY(-10px) perspective(500px) rotateX(10deg);
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
    &.mfp-bg {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
}

.mfp-close-btn-in .mfp-close {
    color: $color_mountain_mist_approx;
}

@media(max-width: $landscape-mobile-width) {
    .mfp-close {
        right: 0;
        &:active {
            right: 0;
        }
    }
    .accordionTitle {
        font-size: 1rem;
    }
    .accordion__Heading {
        font-size: 1rem;
    }
    .accordion p {
        padding: 25px 0;
    }
}