.modal-close {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 15px;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 15px;
    background-image: url('#{ $base-images-path }/icons/close.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.modal-backdrop.show {
    background-color: $primary;
    opacity: 0.9;
}

.modal-dialog.no-max-width {
    max-width: none;
}


.modal-dialog {
  left: 50%;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);

  @media (max-width: 768px) {
      width: 85%;
  }
}

.send-dapp-modal {
    overflow: auto!important;
}

.modal-open {
    height: 100vh;
    overflow: hidden;
}