.network-events-section-events {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.network-news-section-loading {
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
}

.network-events-section-events-list {
    @media screen and (max-width: $mobile-width) {
        margin-bottom: 40px;
        order: 1;
    }
}

.network-events-section-loading,
.filtered-events-list-loading {
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
}

.network-events-section-events-list-item {
    @include not-selectable-text();
    cursor: pointer;
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
    position: relative;
    opacity: 0.6;

    &:hover,
    &.active {
        opacity: 1;
    }

    &.active {
        cursor: default;
    }

    &.active::before {
        background-color: $secondary-green;
        content: '';
        height: 100%;
        left: -20px;
        position: absolute;
        width: 3px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .the-date {
        $the-date-dimensions: 70px;

        background-image: linear-gradient(to right, #7258b0, #5231a0);
        border-radius: 5px;
        flex-shrink: 0;
        height: $the-date-dimensions;
        margin-right: 22px;
        padding-top: 12px;
        width: $the-date-dimensions;

        .the-date-number {
            color: #fff;
            display: block;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 3px;
        }
        .the-date-month {
            color: #fff;
            display: block;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
        }
    }
    .the-info {
        max-width: 250px;
        .the-title {
            color: #363636;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.33;
        }
        .the-proximity {
            color: #666;
            font-size: 14px;
            line-height: 1.71;
            margin: 0;
            padding: 0;

            &.is-upcoming {
                color: $primary;
            }
        }
    }
}

.network-events-section-event-display {
    width: 530px;

    & > a {
        display: block;
        text-decoration: none;
    }

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 40px;
        width: 100%;
    }

    .the-image-container {
        @include aspect-ratio(530px, 247px);
        background-image: url('#{ $base-images-path }/ajax-loader.gif');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        margin-bottom: 30px;
    }

    .the-image {
        background-image: linear-gradient(to right, #7258b0, #5231a0);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.25);
        display: block;
        max-width: 100%;
        overflow: hidden;
        img {
            display: block;
        }
    }
    .the-title {
        color: #363636;
        display: block;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .the-address {
        color: #666;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .the-description {
        color: #666;
        display: block;
        font-size: 14px;
        line-height: 1.71;
        margin: 0 0 25px;
        padding: 0;
    }
    .view-more {
        color: $primary;
        display: block;
        font-size: 14px;
        line-height: 1.71;
    }
}