.wrap-newslatter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .news-title {
        font-size: 1.375em;
        flex-shrink: 0;
        margin: 0 20px 0 0;
    }
    .news-form {
        flex-shrink: 0;
        width: 55%;
        .input-group button {
            margin-left: 20px;
        }
    }
    .newsl-image {
        min-height: 120px;
        min-width: 240px;
    }
}

@media(max-width: $tablet-width) {
    .wrap-newslatter {
        flex-direction: column;
        .news-form {
            width: 100%;
            margin: 30px 0;
            .input-group {
                flex-direction: column;
                .form-control {
                    margin: 0 0 20px;
                    min-width: 100%;
                }
                .btn {
                    margin: 0;
                    min-width: 100%;
                }
            }
        }
        .newsl-image {
            display: none;
        }
    }
    .footer-wrap {
        flex-direction: column;
        .footer-copy {
            margin: 15px 0;
        }
    }
}