.poa-contact-address {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;
}

.poa-contact-address-input {
    background-color: #fff;
    border-left: 30px solid #fff;
    border-radius: 8px;
    border-right: 30px solid #fff;
    border: none;
    color: $primary;
    cursor: pointer;
    display: block;
    font-size: 30px;
    font-weight: 300;
    height: 80px;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 28px 30px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.poa-contact-address-label {
    background-color: #9282fc;
    border-radius: 5px;
    border-top-left-radius: 0;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    position: relative;
    text-align: center;

    .text-bold {
        font-weight: 700;
    }

    &::before {
        background-image: url('#{ $base-images-path }/poa-contact-address/poa-contact-address-label-corner.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 8px;
        left: -7px;
        position: absolute;
        top: 0;
        transform: rotate(270deg);
        width: 8px;
    }
}