.services .block-service-item {
    padding: 50px 25px;
    .service-title {
        font-size: 1.063em;
        color: $black;
        margin: 20px 0;
    }
    .service-text {
        font-size: 0.875em;
        opacity: 0.8;
    }
    .border-serice {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        max-width: 320px;
        width: 100%;
        height: 100%;
        margin-left: auto;
        transform: translateX(-50%);
        border: solid 1px $color_cararra_approx;
        background-color: $white;
        transition: all 0.3s;
        z-index: 9;
        .service-hover-title {
            font-size: 1.050em;
            color: $black;
            margin: 20px 0;
        }
        .service-hover-text {
            width: 240px;
            font-size: 0.875em;
            color: $black;
        }
        .read-more-icon {
            position: absolute;
            top: 0;
            right: 0;
            img {
                display: inline-block;
                padding: 15px 10px;
                border-bottom-left-radius: 5px;
                background-color: $color_cararra_approx;
            }
        }
    }
}

.service-hover:hover .border-serice {
    opacity: 1;
}