th {
    height: 100px;
    border: 1px solid $color_alto_approx;
    padding: 20px 18px;
    empty-cells: show;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 0.875em;
    text-align: left;
    +th {
        text-align: center;
        display: none;
    }
}