$topbar-network-stats-height: 60px;
$topbar-network-stats-height-mobile: 100px;
$tns-items-height: 30px;

// Core
$tns-bg-start-core: #7258b0;
$tns-bg-end-core: #5231a0;
$tns-bg-button-primary-core: #7dd79f;

// xDai
$tns-bg-start-xdai: #fdc224;
$tns-bg-end-xdai: #fdac42;
$tns-bg-button-primary-xdai: #fff;

.main-body-container {
    padding-top: $topbar-network-stats-height;

    @media screen and (max-width: $mobile-width) {
        padding-top: $topbar-network-stats-height-mobile;
    }
}

.topbar-network-stats-loading {
    background-color: #fff;
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: $topbar-network-stats-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 123;

    @media screen and (max-width: $mobile-width) {
        height: $topbar-network-stats-height-mobile;
    }
}

.topbar-network-stats {
    display: flex;
    height: $topbar-network-stats-height;
    justify-content: space-between;
    position: relative;

    &.hidden {
        display: none;
    }

    @media screen and (max-width: $mobile-width) {
        height: auto;
        min-height: $topbar-network-stats-height;
    }

    &#{ & }-core {
        background-image: linear-gradient(to left, $tns-bg-start-core, $tns-bg-end-core);
    }

    &#{ & }-xdai {
        // background-image: linear-gradient(to left, $tns-bg-start-xdai, $tns-bg-end-xdai);
        background: #173250;
    }
}

.tns-logo-title-container {
    display: flex;
    height: $topbar-network-stats-height;

    @media screen and (max-width: $mobile-width) {
        display: none;
    }
}

.tns-logo-container {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    height: $topbar-network-stats-height;
    justify-content: center;
    width: $topbar-network-stats-height;
}

.topbar-network-stats-xdai .tns-logo-container {
    background-color: rgba(#132942, .6);
}

.tns-logo {
    background-repeat: no-repeat;
    background-size: cover;

    &#{ & }-core {
        background-image: url('#{ $base-images-path }/topbar/core/logo.svg');
        height: 46px;
        margin-top: 12px;
        width: 45px;
    }

    &#{ & }-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/logo.svg');
        height: 46px;
        margin-top: 7px;
        width: 46px;
    }
}

.tns-title {
    align-self: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-left: 12px;
    text-align: left;

    @media screen and (max-width: $tablet-width) {
        display: none;
    }
}

.tns-inner {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    min-height: $topbar-network-stats-height;
    padding: 0 16px 0 30px;
    position: relative;

    @media screen and (max-width: $mobile-width) {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    &::before {
        border-left: 20px solid transparent;
        border-top: $topbar-network-stats-height solid rgba(0, 0, 0, 0.1);
        content: '';
        height: 0;
        left: -20px;
        position: absolute;
        top: 0;
        width: 0;

        @media screen and (max-width: $mobile-width) {
            display: none;
        }
    }
}

.tns-inner-items-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &.is-loading {
        background-image: url('#{ $base-images-path }/ajax-loader.gif');
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: $mobile-width) {
        min-height: $topbar-network-stats-height;
    }
}

.tns-inner-item {
    display: flex;
    margin-right: 40px;

    .is-loading & {
        visibility: hidden;
    }

    @media screen and (max-width: $mobile-width) {
        margin-right: 15px;
    }
}

.tns-inner-item-logo {
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    height: $tns-items-height;
    margin-right: 14px;
    width: $tns-items-height;

    // Core
    &#{ & }-network#{ & }-core {
        background-image: url('#{ $base-images-path }/topbar/core/network.svg');
        background-size: 28px 28px;
    }

    &#{ & }-block#{ & }-core {
        background-image: url('#{ $base-images-path }/topbar/core/block.svg');
        background-size: 26px 28px;
    }

    &#{ & }-last-block#{ & }-core {
        background-image: url('#{ $base-images-path }/topbar/core/last-block.svg');
        background-size: 18px 30px;
    }

    &#{ & }-average#{ & }-core {
        background-image: url('#{ $base-images-path }/topbar/core/avg-time-block.svg');
        background-size: 28px 28px;
    }

    // xDai
    &#{ & }-network#{ & }-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/network.svg');
        background-size: 28px 28px;
    }

    &#{ & }-block#{ & }-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/block.svg');
        background-size: 26px 28px;
    }

    &#{ & }-last-block#{ & }-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/last-block.svg');
        background-size: 18px 30px;
    }

    &#{ & }-average#{ & }-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/avg-time-block.svg');
        background-size: 28px 28px;
    }

    @media screen and (max-width: $tablet-width-horizontal) {
        display: none;
    }
}

.tns-inner-item-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tns-inner-item-stats-title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    white-space: nowrap;
}

.tns-inner-item-stats-data {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;

    &#{ & }-core {
        color: $tns-bg-button-primary-core;
    }

    &#{ & }-xdai {
        // color: $tns-bg-button-primary-xdai;
        color: $xdai-green;
        font-weight: bold;
    }
}

.tns-inner-item-stats-data-blink {
    animation: blinking 1s step-end infinite;
}

@keyframes blinking {
    0% {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

.tns-buttons-container {
    display: flex;

    @media screen and (max-width: $mobile-width) {
        justify-content: space-between;
        min-height: 40px;
    }
}

.tns-button {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: $tns-items-height;
    line-height: $tns-items-height - 1;
    margin-right: 20px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: $mobile-width) {
        width: 50%;
    }

    // Core
    &#{ & }-primary#{ & }-primary-core {
        background-color: $tns-bg-button-primary-core;
        border-color: transparent;
        color: #fff;

        &:active,
        &:hover {
            background-color: darken($tns-bg-button-primary-core, 10%);
        }
    }

    &#{ & }-transparent#{ & }-transparent-core {
        background-color: transparent;
        border-color: #fff;
        color: #fff;

        &:active,
        &:hover {
            opacity: 0.8;
        }
    }

    // xDai
    &#{ & }-primary#{ & }-primary-xdai {
        // background-color: $tns-bg-button-primary-xdai;
        background-color: $xdai-green;
        border-color: transparent;
        // color: #e9ac08;
        color: #fff;

        &:active,
        &:hover {
            background-color: darken($tns-bg-button-primary-xdai, 10%);
        }
    }

    &#{ & }-transparent#{ & }-transparent-xdai {
        background-color: transparent;
        border-color: $tns-bg-button-primary-xdai;
        color: $tns-bg-button-primary-xdai;

        &:active,
        &:hover {
            opacity: 0.8;
        }
    }
}

.tns-selector-modal {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1234567;
}

.tns-selector-modal-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    width: 1000px;
}

.tns-selector-modal-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    padding-top: 60px;

    @media screen and (max-width: $mobile-width) {
        padding-top: 20px;
    }
}

.tns-selector-modal-title {
    color: $primary;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 1.22;
    margin: 0;
    padding: 0;
    text-align: left;
}

.tns-selector-modal-close {
    background-image: url('#{ $base-images-path }/topbar/modal/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 29px;
    width: 29px;
}

.tns-selector-modal-networks-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    @media screen and (max-width: $mobile-width) {
        align-items: center;
        flex-direction: column;
    }
}

.tns-selector-modal-network {
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 460px;
    justify-content: space-between;
    margin-right: 30px;
    max-width: 100%;
    transition: box-shadow 0.25s ease-out;
    width: 300px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: $mobile-width) {
        height: 300px;
        margin-right: 0;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &#{ & }-core {
        background-image: linear-gradient(to left, #8465cc, #5231a0);
        box-shadow: 0 20px 40px 0 rgba($tns-bg-start-core, 0.4);

        &:active,
        &:hover {
            box-shadow: 0 20px 40px 0 rgba($tns-bg-start-core, 0.7);
        }
    }

    &#{ & }-xdai {
        // background-image: linear-gradient(to left, #ffcf4f, #fdac42);
        background-image: linear-gradient(to left, #76D4A6, #6BBC9D);
        // box-shadow: 0 20px 40px 0 rgba($tns-bg-start-xdai, 0.4);
        box-shadow: 0 20px 40px 0 rgba($xdai-green, 0.4);

        &:active,
        &:hover {
            // box-shadow: 0 20px 40px 0 rgba($tns-bg-start-xdai, 0.7);
            box-shadow: 0 20px 40px 0 rgba($xdai-green, 0.7);
        }
    }

}

.tns-selector-modal-network-check {
    align-self: flex-end;
    background-image: url('#{ $base-images-path }/topbar/modal/check.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    visibility: hidden;
    width: 30px;

    &#{ & }-active {
        visibility: visible;
    }
}

.tns-selector-modal-network-logo {
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;

    &#{ & }-core {
        background-image: url('#{ $base-images-path }/topbar/core/logo.svg');
        height: 120px;
        width: 120px;
    }

    &#{ & }-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/logo.svg');
        height: 143px;
        width: 120px;
    }
}

.tns-selector-modal-networks-container {
    .tns-selector-modal-network-logo.tns-selector-modal-network-logo-xdai {
        background-image: url('#{ $base-images-path }/topbar/xdai/logo-network-change.svg');
        height: 135px;
        width: 120px;
    }
}

.tns-selector-modal-network-title {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
    text-transform: initial;
}
