.wallets-section {
    background-image: linear-gradient(to left, #7258b0, #5231a0);

    > .container {
        display: flex;
        justify-content: center;
        @media (min-width: $tablet-width) {
            justify-content: flex-end;
        }
    }
}

.wallets-section-image-background {
    @include image-retina(#{ $base-images-path + '/wallets/pic-wallets' }, 'png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    height: 616px;
    left: -100px;
    position: relative;
    width: 776px;

    @media screen and (max-width: $mobile-width) {
        display: none;
    }
}

.wallets-list-content {
    flex-shrink: 0;
    max-width: 100%;
    width: 425px;
}

.wallets-list-title {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 0;
    text-align: left;

    @media screen and (max-width: $mobile-width) {
        text-align: center;
    }
}

.wallets-list-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0 0 30px;
    padding: 0;
    text-align: left;

    @media screen and (max-width: $mobile-width) {
        text-align: center;
    }
}

.wallets-list-loading {
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
}

.wallets-list {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: $mobile-width) {
        grid-template-columns: 1fr;
    }
}

.wallets-list-item {
    border: 1px solid rgba(255, 255,255, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: border 0.15s ease-out;

    &:hover {
        border-color: rgba(255, 255,255, 0.7);
    }
}

.wallets-list-item-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    height: 40px;
    margin: 0 20px 0 0;
    width: 40px;
}

.wallets-list-item-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.wallets-list-item-title {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

.wallets-list-item-more-info {
    color: #8fdb98;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: left;
}