.wrap-question {
    h2 {
        padding-top: 5px;
        font-size: 1.375em;
        text-transform: none;
    }
    h4 {
        cursor: pointer;
        text-transform: none;
        display: block;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 500;
    }
}