.xdai-info-text {
    padding-bottom: 100px;
    padding-top: 0;
    position: relative;
    z-index: 12;
    > .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        @media screen and (max-width: $tablet-width) {
            align-items: center;
            flex-direction: column;
        }
    }
}

.xdai-info-text-container {
    padding: 0;
    position: relative;
    z-index: 1;

    @media screen and (max-width: $tablet-width) {
        text-align: center;
    }
}

.xdai-info-text-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 35px;
    text-align: center;
}

.xdai-info-text-description {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 40px;
    padding: 0;
    text-align: 0;
}

.xdai-info-text-graphic {
    background-image: url('#{ $base-images-path }/xdai-info-text/pic-1.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    height: 215px;
    max-width: 100%;
    position: relative;
    width: 461px;
    z-index: 1;
}

.xdai-info-text-graphic-x {
    background-image: url('#{ $base-images-path }/xdai-info-text/x.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -434px;
    height: 673px;
    left: -365px;
    position: absolute;
    width: 760px;
    z-index: 0;
}