.xdai-blockscout-section {
    padding-bottom: 0;
    padding-top: 100px;
    position: relative;
    z-index: 12;
}

.xdai-blockscout-section-title {
    color: $primary;
    font-size: 44px;
    font-style: 400;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 30px;
    text-align: center;
}

.xdai-blockscout-section-description {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 25px;
    max-width: 820px;
    padding: 0;
    text-align: center;

    &.margin-bottom-xl {
        margin-bottom: 75px;
    }
}

.xdai-blockscout-section-bottom-graph-container {
    padding: 0 15px;
    position: relative;
    z-index: 12;
}

.xdai-blockscout-section-graphic {
    @include aspect-ratio(1760px, 1044px);
    @include image-retina(#{ $base-images-path + '/xdai-blockscout-section/blockscout' }, 'gif', 2);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 880px;
}