.xdai-stats {
    background-image: linear-gradient(to left, #7258b0, #5231a0);
    color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.xdai-stats-title {
    font-size: 44px;
    font-style: 400;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 30px;
    text-align: center;
    text-transform: none;
}

.xdai-stats-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 20px;
    max-width: 820px;
    padding: 0;
    text-align: center;
}

.xdai-stat {
    @include aspect-ratio(960px, 129px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
    max-width: 100%;

    @media screen and (max-width: $tablet-width) {
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.stat-1 {
        background-image: url('#{ $base-images-path }/xdai-stats/graph-1.svg');
    }
    &.stat-2 {
        background-image: url('#{ $base-images-path }/xdai-stats/graph-2.svg');
    }
    &.stat-3 {
        background-image: url('#{ $base-images-path }/xdai-stats/graph-3.svg');
    }
}
