.xdai-conversion-blocks {
    padding-bottom: 90px;
    padding-top: 90px;
    > .container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
        }
    }
}

.xdai-conversion-block {
    $border-color-xdai: #fdc142;
    $border-color-poa: #6d4fb1;
    $border-color-eth: #4166c4;

    align-items: center;
    background-repeat: no-repeat;
    border-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 110px;
    padding-left: 102px;
    padding-right: 10px;
    position: relative;
    width: 240px;
    z-index: 1;

    @media screen and (max-width: $tablet-width) {
        display: none;
    }

    &.active {
        @media screen and (max-width: $tablet-width) {
            display: flex;
        }
    }

    &.active::after,
    &.active::before {
        border-left-color: transparent;
        border-left-style: solid;
        border-right-color: transparent;
        border-right-style: solid;
        border-top-color: transparent;
        border-top-style: solid;
        content: "";
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    &.active::after {
        $after-width: 14px;

        border-left-width: $after-width;
        border-right-width: $after-width;
        border-top-width: $after-width;
        bottom: -$after-width;
        width: $after-width;
        z-index: 5;
    }

    &.active::before {
        $before-width: 17px;

        border-left-width: $before-width;
        border-right-width: $before-width;
        border-top-width: $before-width;
        bottom: -$before-width;
        width: $before-width;
        z-index: 2;
    }

    &.xdai {
        background-color: rgba($border-color-xdai, 0.1);
        background-image: url('#{ $base-images-path }/xdai-conversion-blocks/icon-xdai.svg');
        background-position: 4px 10px;
        background-size: 91px 101px;

        &.active {
            border: solid 2px $border-color-xdai;

            &::after {
                border-top-color: #fff9ec;
            }

            &::before {
                border-top-color: $border-color-xdai;
            }
        }
    }

    &.poa {
        background-color: rgba($border-color-poa, 0.1);
        background-image: url('#{ $base-images-path }/xdai-conversion-blocks/icon-poa.svg');
        background-position: 4px 15px;
        background-size: 91px 91px;

        &.active {
            border-color: $border-color-poa;

            &::after {
                border-top-color: #f0edf7;
            }

            &::before {
                border-top-color: $border-color-poa;
            }
        }
    }

    &.eth {
        background-color: rgba($border-color-eth, 0.1);
        background-image: url('#{ $base-images-path }/xdai-conversion-blocks/icon-ethereum.svg');
        background-position: 4px 15px;
        background-size: 91px 91px;

        &.active {
            border-color: $border-color-eth;

            &::after {
                border-top-color: #eceff9;
            }

            &::before {
                border-top-color: $border-color-eth;
            }
        }
    }
}

.xdai-conversion-block-title {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.2;
    text-align: left;

    .xdai & {
        color: #fdc142;
    }
    .poa & {
        color: #5332a0;
    }
    .eth & {
        color: #3d62bf;
    }
}

.xdai-conversion-arrow {
    $xdai-conversion-arrow-margin: 33px;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    height: 40px;
    margin: 0 $xdai-conversion-arrow-margin;
    width: 40px;

    @media screen and (max-width: $tablet-width) {
        display: none;
        margin: $xdai-conversion-arrow-margin 0;
        transform: rotate(90deg);
    }

    &.xdai {
        background-image: url('#{ $base-images-path }/xdai-conversion-blocks/arrows-1.svg');
    }
    &.eth {
        background-image: url('#{ $base-images-path }/xdai-conversion-blocks/arrows-2.svg');
    }
}