.xdai-info-blocks {
    padding-top: 0;
    padding-bottom: 90px;

    > .container {
        align-items: center;
        display: none;
        justify-content: space-between;

        &.active {
            display: flex;
        }

        @media screen and (max-width: $tablet-width) {
            flex-wrap: wrap;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media screen and (max-width: $mobile-width) {
            flex-direction: column;
        }
    }
}

.xdai-info-block {
    border-right: 1px solid #ddd;
    flex-basis: 0;
    flex-grow: 1;
    height: 80px;
    padding-left: 18px;
    padding-right: 0;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        border-right: none;
        padding-right: 0;
    }

    @media screen and (max-width: $mobile-width) {
        border-bottom: 1px solid #ddd;
        border-right: none;
        margin-bottom: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-top: 0;
        width: 100%;

        &:last-child {
            border-bottom: none;
        }
    }
}

.xdai-info-block-title {
    color: $primary;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 27px;
}

.xdai-info-block-content {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
