.xdai-validators-block {
    background-image: linear-gradient(to left, #7258b0, #5231a0);
    margin-top: -180px;
    padding-bottom: 100px;
    padding-top: 280px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: $tablet-width) {
        margin-top: -150px;
        padding-top: 250px;
    }

    @media screen and (max-width: $mobile-width) {
        margin-top: -75px;
        padding-top: 175px;
    }
}

.xdai-validators-block-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    width: 850px;
}

.xdai-validators-block-title {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.14;
    margin: 0 0 55px 0;
    padding: 0;
    text-align: center;
}

.xdai-validators-block-validators-logos {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.xdai-validators-block-validators-logo {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.maker {
        @include image-retina(#{ $base-images-path + '/x-dai-validators-block/makerdao' }, 'png');
        height: 25px;
        width: 132px;
    }

    &.giveth {
        @include image-retina(#{ $base-images-path + '/x-dai-validators-block/giveth' }, 'png');
        height: 28px;
        width: 100px;
    }

    &.protofire {
        @include image-retina(#{ $base-images-path + '/x-dai-validators-block/protofire' }, 'png');
        height: 36px;
        width: 152px;
    }

    &.poa {
        @include image-retina(#{ $base-images-path + '/x-dai-validators-block/poa' }, 'png');
        height: 28px;
        width: 92px;
    }
}