.zoom-anim-dialog {
    background: $white;
    padding: 20px 15px 30px;
    text-align: left;
    width: 500px;
    margin: 40px auto;
    position: relative;
    border-top: solid 10px $primary-green; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
}

@media(max-width: $tablet-width) {
    .zoom-anim-dialog {
        max-width: 100%;
    }
}