* {
    outline: none;
}

html {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: $font_0, $font_1;
    overflow-x: hidden;
}

a {
    color: $primary;
    transition: all 0.3s;
    &:hover {
        color: $primary;
        cursor: pointer;
        text-decoration: none;
    }
}

.green-link {
    color: $primary-green !important;
    font-size: 0.875em;
    &:hover {
        color: $primary-green-dark !important;
        text-decoration: none;
    }
}

p {
    padding-top: 2.188em;
    margin-bottom: 0;
    line-height: 1.71;
    font-size: 0.875em;
    color: $color_storm_dust_approx;
}

.bg-color {
    background: $primary;
    background: linear-gradient(to right, $primary 0, $color_deluge_approx 60%);
}

// <h>
h1 {
    font-weight: 300;
    line-height: 1.22;
    font-style: normal;
    text-transform: capitalize;
    margin: 0;
    color: $primary;
    font-size: 2.750em;
}

h2 {
    font-weight: 300;
    line-height: 1.22;
    font-style: normal;
    text-transform: capitalize;
    margin: 0;
}

h3 {
    font-weight: 300;
    line-height: 1.22;
    font-style: normal;
    text-transform: capitalize;
    margin: 0;
}

h4 {
    font-weight: 500;
    line-height: 1.22;
    font-style: normal;
    text-transform: capitalize;
    margin: 0;
}

h5 {
    font-weight: 300;
    line-height: 1.22;
    font-style: normal;
    text-transform: capitalize;
    margin: 0;
}

h6 {
    font-weight: 300;
    line-height: 1.22;
    font-style: normal;
    text-transform: capitalize;
    margin: 0;
}



// placeholder
::-webkit-input-placeholder {
    color: $color_pumice_approx !important;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}

::-moz-placeholder {
    color: $color_pumice_approx !important;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}

:-ms-input-placeholder {
    color: $color_pumice_approx !important;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}

::placeholder {
    color: $color_pumice_approx !important;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
}

// selection
::-moz-selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.content-hover {
    max-height: 170px;
}

@media(max-width: $tablet-width) {
    img {
        max-width: 100%;
    }
    h1 {
        font-size: 1.7rem !important;
    }
}

// sweet alert
.swal2-popup {
    .swal2-styled {
        &,
        &:focus {
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
        }
    }
}