.container {
    max-width: 960px !important;
    margin: auto;
}

.reverse {
    flex-direction: row-reverse;
}

.no-reverse {
    flex-direction: row;
}

section {
    padding: 100px 0;
    &.question {
      padding-bottom: 0;
    }
}

.wrap-blockchain {
    margin-bottom: 150px;
}

.pos-a-top {
    position: absolute;
    top: -90px;
    width: 190px;
    height: 190px;
    padding: 20px;
    background: $white; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px; //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 15px 30px 0 $color_gigas_20_approx;
    left: 30px;
    text-align: center;
}

.before-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 20px;
    z-index: -1;
}

@media(max-width: $tablet-width) {
    .col-xs {
        max-width: 320px;
    }
}

@media(max-width: 448px) {
    section {
        padding: 40px 0;
    }
}
