.h1-hover {
    text-align: center;
    font-size: 30px !important;
    margin-bottom: 50px;
    margin-left: 20px;
}

@media(max-width: 530px) {
    .h1-hover {
        margin-top: 120px;
    }
}

.text-transparent {
	opacity: .7;
}