
.white,
.color-white {
    color: #fff;
}

.text-faded {
    color: #fff;
    opacity: 0.70;
}

.hidden {
    display: none;
}

.btn-center {
  margin: 0 auto;
  display: block;
  max-width: 135px;

  &--wide {
    max-width: 180px;
    @media screen and (max-width: $tablet-width) {
      max-width: 200px;
      margin: 0 auto;
      display: block;
    }
  }
}

// default margin / padding helpers
$base-loop-increment: 5;

@for $i from 0 through 10 {

    $loop-increment: $i * $base-loop-increment;

    // margin
    .m-t-#{ $loop-increment } {
        margin-top: #{ $loop-increment }px;
    }
    .m-b-#{ $loop-increment } {
        margin-bottom: #{ $loop-increment }px;
    }
    .m-r-#{ $loop-increment } {
        margin-right: #{ $loop-increment }px;
    }
    .m-l-#{ $loop-increment } {
        margin-left: #{ $loop-increment }px;
    }

    // padding
    .p-t-#{ $loop-increment } {
        padding-top: #{ $loop-increment }px;
    }
    .p-b-#{ $loop-increment } {
        padding-bottom: #{ $loop-increment }px;
    }
    .p-r-#{ $loop-increment } {
        padding-right: #{ $loop-increment }px;
    }
    .p-l-#{ $loop-increment } {
        padding-left: #{ $loop-increment }px;
    }

}

.display-block {
    display: block;
}

// legacy
.pd-4 {
    padding: 40px;
}

.pd-0 {
    padding: 0;
}
.bdr {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
}

// text
.text-unaltered {
    text-transform: none;
}

@media screen and (min-width: $tablet-width) {
  .m-m-100 {
    margin-top: 100px !important;
  }
}

@media screen and (max-width: $mobile-width) {
  .m-m-10 {
    margin-top: 10px !important;
  }
}
