// #border radius
@mixin border-radius($radius) {
    border-radius: $radius;
}

// #placeholder color
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $color !important;
        opacity: 1 !important;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color !important;
        opacity: 1 !important;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color !important;
        opacity: 1 !important;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $color !important;
        opacity: 1 !important;
    }
}

// #placeholders
@mixin placeholder-font-size($font-size) {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        font-size: $font-size !important;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-size: $font-size !important;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: $font-size !important;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        font-size: $font-size !important;
    }
}

// #avoid text selection
@mixin not-selectable-text() {
    /* Firefox all */
    -moz-user-select: none;
    /* IE 10+ */
    -ms-user-select: none;
    /* Chrome all / Safari all */
    -webkit-user-select: none;
    /* Likely future */
    user-select: none;
}

// #form input elements border color
@mixin form-input-elements-border-color($the-color) {
    input:not([type]),
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    select,
    textarea {
        &:active.active,
        &:active,
        &:focus {
            border-color: $the-color;
            outline: none;
        }
        &[required]:active,
        &[required]:focus {
            border-color: $the-color !important;
            outline: none;
        }
    }
}

@mixin image-retina($filename, $extension, $pixel-ratio-level: 3) {

    background-image: url($filename + '.' + $extension);

    @media  (-webkit-min-device-pixel-ratio: 2),
            (-moz-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        & {
            background-image: url($filename + '@2x.' + $extension);
        }
    }

    @if ($pixel-ratio-level >= 3) {

        @media  (-webkit-min-device-pixel-ratio: 3),
                (-moz-min-device-pixel-ratio: 3),
                (min-resolution: 288dpi),
                (min-resolution: 3dppx) {
            & {
                background-image: url($filename + '@3x.' + $extension);
            }
        }

    }

}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        content: "";
        display: block;
        padding-top: ($height / $width) * 100%;
        width: 100%;
    }
    > .content-ratio {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}