// colors
$primary: #5332a0;
$xdai-primary: #102083;
$primary-green: #22d89e;
$primary-green-dark: darken($primary-green, 10%);
$xdai-green: #15bba6;
$xdai-gray: #666;
$secondary-green: #8fdb98;
$footer-font-color: #b5a3e6;

$white: #fff;
$black: black;
$gray: #808080;

$color_meteorite_approx: #3f2679;
$color_storm_dust_approx: #666;
$color_deluge_approx: #7258b0;
$color_cararra_approx: #ececec;
$color_mine_shaft_approx: #303030;
$color_mountain_mist_approx: #909090;
$color_pumice_approx: #c6c6c6;
$color_alto_approx: #ddd;
$color_portage_approx: #9282fc;
$color_medium_purple_approx: #816efc;
$color_daisy_bush_approx: #4e2993;
$color_purple_heart_approx: #5e39b6;
$color_algae_green_approx: #90e1a9;
$color_algae_green_60_approx: rgba(144, 225, 169, 0.6);
$white_10: rgba(255, 255, 255, 0.1);
$color_dull_lavender_approx: #9b85ff;
$color_persian_indigo_approx: #34157d;
$color_valhalla_approx: #2a1658;

$color_gigas_20_approx: rgba(87, 55, 143, 0.2);
$color_wild_sand_approx: #f5f5f5;
$color_royal_purple_50_approx: rgba(92, 56, 170, 0.5);
$color_forest_green_approx: #2ca01c;
$color_mercury_approx: #e6e6e6;
$color_deluge_84_approx: rgba(114, 88, 176, 0.84);
$color_gigas_84_approx: rgba(82, 49, 160, 0.84);
$color_granny_smith_apple_approx: #8fdb98;
$color_aqua_island_approx: #a9e1d8;
$color_minsk_approx: #452984;

// dapps
$dapp-label-border-radius: 5px;
$dapp-label-height: 26px;
$dapp-label-live: #7dd79f;
$dapp-label-hot-bg: #c21a91;
$dapp-label-in-progress: #9282fc;
$dapp-label-poa: #5332a0;
$dapp-label-poa-20: #0ec3fe;
$daaps-link-color: #8fdb98;
$dapps-link-hover: $dapp-label-live;

// images path
$base-images-path: "../img";

// fonts
$font_0: 'Nunito';
$font_1: sans-serif !important;

// urls
$url_0: url('#{ $base-images-path }/close.svg');
$url_1: url('#{ $base-images-path }/governance/bg2.jpg');
$url_2: url('#{ $base-images-path }/about/video-bg@2x.png');
$url_3: url('#{ $base-images-path }/map-valid/grid.png');
$url_4: url('#{ $base-images-path }/question/icon-plus.svg');
$url_5: url('#{ $base-images-path }/question/icon-minus.svg');
$url_7: url('#{ $base-images-path }/code/corner-2.svg');
$url_8: url('#{ $base-images-path }/code/corner-1.svg');
$url_9: url('#{ $base-images-path }/code/corner-3.svg');

// widths
$container-width: 960px;
$container-responsive-width: 980px;
$tablet-width-horizontal: 1023px;
$tablet-width: 768px;
$mobile-width: 767px;
$small-mobile-width: 360px;
$landscape-mobile-width: 480px;