section {
    &.about-us {
        .about-image {
            position: relative;
            width: 300px;
            height: 300px;
            margin: auto;
            .animate-1 {
                animation: moveimg1 10s infinite;
                animation-duration: 10s;
                animation-delay: 2s;
            }
            .animate-2 {
                animation: moveimg2 10s infinite;
                animation-duration: 10s;
                animation-delay: 3s;
            }
            .animate-3 {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                animation: moveimg3 10s infinite;
                animation-duration: 10s;
                animation-delay: 2s;
            }
            .animate-4 {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                animation: moveimg4 10s infinite;
                animation-duration: 10s;
                animation-delay: 2s;
            }
            .animate-5 {
                position: absolute;
                bottom: 0;
                right: 0;
                opacity: 0;
                animation: moveimg5 10s infinite;
                animation-duration: 10s;
                animation-delay: 3s;
            }
            .animate-6 {
                position: absolute;
                bottom: 0;
                right: 0;
                opacity: 0;
                animation: moveimg6 10s infinite;
                animation-duration: 10s;
                animation-delay: 3s;
            }
            .animate_pic_3 {
                position: absolute;
                top: 0;
                left: 0;
            }
            .animate_pic_2 {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .blockchain-video {
            position: relative;
            width: 45%;
            float: left;
            font-size: 0;
            text-align: center;
        }
        .block-content {
            width: 55%;
            float: right;
            padding-left: 55px;
        }
    }
}

@media(max-width: $tablet-width) {
    section {
        &.about-us {
            h1 {
                margin-top: 30px;
            }
            .wrap-blockchain {
                margin-bottom: 40px;
            }
            .blockchain-video {
                width: 430px;
                margin: auto;
                float: none;
            }
            .block-content {
                width: 100%;
                margin: auto;
                margin-top: 20px;
                padding: 0;
            }
        }
    }
}

@media(max-width: $landscape-mobile-width) {
    section {
        &.about-us .blockchain-video {
            width: 100%;
            margin: auto;
            float: none;
            .before-img {
                display: none;
            }
        }
    }
}