.blockscout-gradient {
    background-image: linear-gradient(to left, rgba(#7258b0, 0.9), rgba(#5231a0, 0.9));
}

.blockscout-page {
    .masthead {
        @include image-retina(#{ $base-images-path + '/blockscout/bg-blockscout' }, 'jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 665px;

        @media screen and (min-width: 1441px) {
            height: 900px;
        }
    }
}

// Real Time UI

.real-time-demo {
    // max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    img {
        height: auto;
        pointer-events: none;
    }
    .real-time-bg, .real-time-mobile {
        border: 1px solid #e4eaf8; 
        border-radius: 10px 10px 0 0;
    }
}

.real-time-transactions {
    position: absolute;
    display: none;
    @media (min-width: $tablet-width) {
        display: block;
    }
    top: 63.6%;
    width: 930px;
    left: 50%;
    transform: translateX(-50%);
    // width: 918px;
    transition: .5s ease-in;
    img {
        // max-width: 50%;
        max-height: 87px;
        height: auto;
        visibility: hidden;
        animation-fill-mode: forwards;
        & + img {
            margin-left: 2.9%;
        }
        &:first-child {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:last-child {
            animation-delay: 0.6s;
        }
    }
}

.real-time-bg {
    display: none;
    @media (min-width: $tablet-width) {
        display: inline-block;
    }
}

.real-time-mobile {
    @media (min-width: $tablet-width) {
        display: none;
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(100%, 0, 0);
        // visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.slideInLeft {
    animation: slideInLeft 0.6s linear;
}

// Confirmations
.confirmations {
    p.text-white {
        opacity: .7;
    }
}

.confirmations-top {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.confirmations-blocks {
    text-align: center;
    @media (min-width: $tablet-width) {
        text-align: left;
    }
    img {
        & + img {
            margin-left: 12px;
        }
        opacity: .2;
        &:nth-child(1) {
            opacity: .1;
            animation: opacityChange0 2.5s linear infinite;
        }
        &:nth-child(2) {
            animation: opacityChange1 2.5s linear infinite;
        }
        &:nth-child(3) {
            animation: opacityChange2 2.5s linear infinite;
        }
        &:nth-child(4) {
            animation: opacityChange3 2.5s linear infinite;
        }
        &:nth-child(5) {
            animation: opacityChange4 2.5s linear infinite;
        }
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;
    }
}

@keyframes opacityChange0 {
    0%, 10% {
        opacity: .1;
    }
    20% {
        opacity: .2;
    }
}

@keyframes opacityChange1 {
    0%, 20% {
        opacity: .2;
    }
    40% {
        opacity: .4;
    }
}

@keyframes opacityChange2 {
    0%, 40% {
        opacity: .2;
    }
    60% {
        opacity: .6;
    }
}

@keyframes opacityChange3 {
    0%, 60% {
        opacity: .2;
    }
    80% {
        opacity: .8;
    }
}

@keyframes opacityChange4 {
    0%, 80% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.confirmations-checked {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 1;
    color: #fff;
    @media (min-width: $tablet-width) {
        margin-top: 0;
        justify-content: flex-end;
    }
    img {
        margin-left: 18px;
    }
    b {
        &:after {
            content: "";
            animation: confirmedQuantity 30s linear infinite;
        }
    }
}

.confirmations-img {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

@keyframes confirmedQuantity {
    0% {
        content: "1";
    }
    8% {
        content: "2";
    }
    16% {
        content: "3";
    }
    32% {
        content: "4";
    }
    40% {
        content: "5";
    }
    48% {
        content: "6";
    }
    56% {
        content: "7";
    }
    64% {
        content: "8";
    }
    72% {
        content: "9";
    }
    81% {
        content: "10";
    }
    90% {
        content: "11";
    }
    100% {
        content: "12";
    }
}

// Token Support
.token-loader {
    border: 1px dashed #e2e4eb;
    border-radius: 4px;
    padding: 40px 16px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.token-loader-content {
    font-size: 14px;
    color: #d0d5e5;
    img {
        margin-right: 11px;
        animation: MoveUpDown 1s linear infinite;
        position: relative;
        bottom: 0;
        // top: 6px;
    }
}

@keyframes MoveUpDown {
    0, 100% {
        bottom: 0;
    }
    50% {
        bottom: 6px;
    }
}

.blockscout-token-examples {
    display: none;
}

.blockscout-token {
    border-left: 4px solid #5f85fb;
    border-top: 1px solid #e2e4eb;
    border-bottom: 1px solid #e2e4eb;
    border-right: 1px solid #e2e4eb;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 14px;
    box-shadow: 0px 10px 20px 0 rgba(200, 198, 225, 0.2);
    @media (min-width: $tablet-width) {
        border-top: none;
        border-bottom: none;
        border-right: none;
        flex-direction: row;
        border-radius: 4px 0 0 4px;
        padding: 0;
    }
    & + .blockscout-token {
        margin-top: 30px;
    }
    .gray {
        color: #a3a7b4;
        line-height: 2;
    }
    &.green {
        border-left-color: #6ab566;
        .blockscout-token-status {
            border-color: #6ab566;
            color: #6ab566;
            @media (min-width: $container-width) {
                background-color: #f1f9f3;
            }
        }
    }
    &.orange {
        border-left-color: #da9864;
        .blockscout-token-status {
            border-color: #da9864;
            color: #da9864;
            @media (min-width: $container-width) {
                background-color: #fcf5ee;
            }
        }
    }
}

.blockscout-token-status {
    @media (min-width: $tablet-width) {
        border-top: 1px solid #5f85fb;
        border-bottom: 1px solid #5f85fb;
        border-right: 1px solid #5f85fb;
        background-color: #f6f8ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 148px;
    }
    color: #5f85fb;
    h3 {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
    }
    h4 {
        font-size: 12px;
        line-height: 1.4;
        margin-top: 4px;
    }
}

.blockscout-token-inner {
    margin-top: 16px;
    @media (min-width: $tablet-width) {
        flex-grow: 2;
        border-top: 1px solid #e2e4eb;
        border-bottom: 1px solid #e2e4eb;
        padding: 16px 10px 16px 20px;
        margin-top: 0;
    }
    p {
        display: inline;
        font-size: 12px;
        line-height: 2;
        color: $primary;
        padding-top: 0;
        word-wrap: break-word;
    }
    .token-arrow {
        display: inline-block;
        width: 12px;
        height: 5px;
        background: url(../img/blockscout/token-arrow.svg);
    }
    .poa-quantity {
        display: block;
        color: #363636;
    }
}

.blockscout-token-sub {
    margin-top: 16px;
    @media (min-width: $tablet-width) {
        border-top: 1px solid #e2e4eb;
        border-bottom: 1px solid #e2e4eb;
        border-right: 1px solid #e2e4eb;
        border-radius: 0 4px 4px 0;
        display: flex;
        flex-direction: column;
        flex: 0 0 120px;
        padding: 16px 20px 16px 0;
        text-align: right;
        margin-top: 0;
    }
    p, span {
        font-size: 12px;
        line-height: 2;
        color: $primary;
        padding-top: 0;
        word-wrap: break-word;
    }
    span.gray {
        //
    }
}

// Blockscout API
.blockscout-api {
    p.text-white {
        opacity: .7;
    }
}

// .blockscout-api-parralax {
//     @include image-retina(#{ $base-images-path + '/blockscout/api@3x' }, 'jpg');
//     border-radius: 10px 10px 0 0;
//     overflow: hidden;
//     background-color: #fff;
//     height: 515px;
//     background-position: bottom center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: 50% auto;
// }

.blockscout-api-parralax {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background-color: #fff;
    height: 300px;
    pointer-events: none;
    @media (min-width: $tablet-width) {
        height: 515px;    
    }
    img {
        width: 100%;
        height: auto;
    }
}

// Blockscout Networks

.blockscout-network-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 33.33%;
        padding: 20px 10px;
        @media (min-width: $tablet-width) {
            flex: 0 0 25%;
        }
        @media (min-width: $container-width) {
            flex: 0 0 20%;
        }
        transition: .1s ease-in;
        cursor: pointer;
        opacity: .6;
        &:hover {
            opacity: .85;
        }
        &.active {
            opacity: 1;
        }
    }
}

.blockscout-carousel {
    border-radius: 10px 10px 0 0;
    border-left: 1px solid #e4eaf8;
    border-right: 1px solid #e4eaf8;
    border-top: 1px solid #e4eaf8;
    overflow: hidden;
}