.blockscout-gradient {
    background-image: linear-gradient(to left, rgba(#7258b0, 0.9), rgba(#5231a0, 0.9));
}

.blockscout-page {
    .masthead {
        @include image-retina(#{ $base-images-path + '/blockscout/bg-blockscout' }, 'jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 665px;

        @media screen and (min-width: 1441px) {
            height: 900px;
        }
    }
}

.blockscout-feature {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    @media screen and (max-width: $tablet-width) {
        margin-bottom: 50px;
    }

    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.blockscout-feature-image {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;

    &.blockscout-feature-image-1 {
        @include image-retina(#{ $base-images-path + '/blockscout/animation-1' }, 'gif', 2);
        background-position: 0 0;
        height: 330px;
        min-height: 330px;
        min-width: 455px;
        width: 455px;
    }
    &.blockscout-feature-image-2 {
        @include image-retina(#{ $base-images-path + '/blockscout/animation-4' }, 'gif', 2);
        background-position: 100% 0;
        height: 369px;
        min-height: 369px;
        min-width: 526px;
        width: 526px;
    }
    &.blockscout-feature-image-3 {
        @include image-retina(#{ $base-images-path + '/blockscout/animation-3' }, 'gif', 2);
        background-position: 0 0;
        height: 362px;
        min-height: 362px;
        min-width: 445px;
        width: 445px;
    }

    &[class*="blockscout-feature-image-"] {
        @media screen and (max-width: $tablet-width) {
            height: 280px;
            max-width: 380px;
            min-height: 0;
            min-width: 0;
        }

        @media screen and (max-width: $mobile-width) {
            background-position: 50% 0;
            height: 250px;
            margin-bottom: 30px;
            max-width: 100%;
            order: 1;
            width: 100%;
        }
    }
}

.blockscout-feature-text {
    min-width: 426px;
    width: 426px;

    @media screen and (max-width: $tablet-width) {
        min-width: 0;
        max-width: 320px;
    }

    @media screen and (max-width: $mobile-width) {
        max-width: 100%;
        order: 2;
        width: 100%;
    }
}

.blockscout-feature-text-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.14;
    margin: 0 0 45px;
}

.blockscout-feature-text-description {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    margin: 0;
    padding: 0;
}

.blockscout-token-support {
    position: relative;
    padding: 0;

    .container {
        padding-top: 120px;
        position: relative;
        z-index: 12;

        @media screen and (max-width: $tablet-width) {
            padding-top: 60px;
        }
    }
}

.blockscout-token-support-title {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.14;
    margin: 0 0 40px;
}

.blockscout-token-support-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 0;
    padding: 0;
}

.blockscout-token-support-token-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 3;

    &.blockscout-token-support-token-image-1 {
        @include image-retina(#{ $base-images-path + '/blockscout/tokens/coin-20-1' }, 'png');
        height: 206px;
        left: -115px;
        top: -40px;
        width: 201px;
    }
    &.blockscout-token-support-token-image-2 {
        @include image-retina(#{ $base-images-path + '/blockscout/tokens/coin-721-1' }, 'png');
        height: 208px;
        right: -170px;
        top: 190px;
        width: 202px;
    }
    &.blockscout-token-support-token-image-3 {
        @include image-retina(#{ $base-images-path + '/blockscout/tokens/coin-721-2' }, 'png');
        height: 142px;
        left: -150px;
        top: 475px;
        width: 155px;
    }
    &.blockscout-token-support-token-image-4 {
        @include image-retina(#{ $base-images-path + '/blockscout/tokens/coin-20-2' }, 'png');
        height: 147px;
        right: -195px;
        top: 615px;
        width: 162px;
    }
}

.blockscout-token-support-bg {
    background-image: linear-gradient(to left, #7258b0, #5231a0);
    height: 529px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.transaction-items {
    padding-top: 45px;
}

.transaction-item {
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #dee1e5;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 auto 20px;
    max-width: 100%;
    padding: 0 20px 0 28px;
    position: relative;
    width: 960px;

    @media screen and (max-width: $mobile-width) {
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }


    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        bottom: -1px;
        content: '';
        left: -1px;
        position: absolute;
        top: -1px;
        width: 4px;
    }

    &.transaction-item-border-color-1::before {
        background-color: #b84581;
    }
    &.transaction-item-border-color-2::before {
        background-color: #6184f3;
    }
    &.transaction-item-border-color-3::before {
        background-color: #d09a6a;
    }
}

.transaction-item-col-1 {
    flex-shrink: 0;
    padding-right: 20px;
    width: 120px;

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 30px;
        min-width: 100%;
        padding: 0;
    }
}

.transaction-item-col-3 {
    flex-shrink: 0;
    padding-left: 20px;
    text-align: right;
    width: 120px;

    @media screen and (max-width: $mobile-width) {
        min-width: 100%;
        text-align: left;
        padding: 0;
    }
}

.transaction-item-block-number {
    color: #957dd3;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px 0;

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 5px;
    }
}

.transaction-item-date {
    color: #afb5bd;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px 0;

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 5px;
    }
}

.transaction-item-in-out {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;

    &.transaction-item-in-out-color-1 {
        background-color: #a25544;
    }

    &.transaction-item-in-out-color-2 {
        background-color: #7bb26f;
    }

}

.transaction-item-col-2 {
    @media screen and (max-width: $mobile-width) {
        margin-bottom: 30px;
    }
}

.transaction-items-address {
    color: #957dd3;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px;

    @media screen and (max-width: $mobile-width) {
        word-break: break-word;
        word-break: break-all; /* FF */
    }

    &.transaction-items-address-underlined {
        border-bottom: 1px dashed #957dd3;
    }

    &.transaction-items-address-color-1 {
        color: #afb5bd;
    }
}

.transaction-items-addresses {
    align-items: center;
    display: flex;
    margin: 0 0 10px;

    @media screen and (max-width: $tablet-width) {
        flex-wrap: wrap;
    }

    .transaction-items-address {
        margin-bottom: 0;
    }
}

.transaction-items-address-arrow {
    background-image: url('#{ $base-images-path }/blockscout/icon-arrow.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    margin: 0 10px;
    min-height: 5px;
    min-width: 11px;
}

.transaction-items-poa-amount-transaction-fees {
    color: #afb5bd;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
}

.transaction-items-poa {
    color: #363636;
}

.transaction-item-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 14px;

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 0;
    }

    &.transaction-item-title-color-1 {
        color: #b84581;
    }
    &.transaction-item-title-color-2 {
        color: #6184f3;
    }
    &.transaction-item-title-color-3 {
        color: #d09a6a;
    }
}

.transaction-item-status {
    color: #afb5bd;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

.blockscout-slideshows {
    .container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $tablet-width-horizontal) {
            align-items: center;
            flex-direction: column;
        }
    }
}

.blockscout-slideshow-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    @media screen and (max-width: $tablet-width-horizontal) {
        grid-template-columns: 1fr 1fr 1fr;
        order: 2;
    }

    @media screen and (max-width: $mobile-width) {
        grid-template-columns: 1fr 1fr;
    }
}

.blockscout-slideshow-grid-item {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.15s linear;
    width: 160px;

    &.active {
        cursor: default;
        opacity: 1;
    }
}

.blockscout-slideshow-grid-item-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    margin-bottom: 15px;
    width: 160px;

    &.blockscout-slideshow-grid-item-image-ethereum {
        @include image-retina(#{ $base-images-path + '/blockscout/slideshow/grid/ethereum' }, 'png');
    }
    &.blockscout-slideshow-grid-item-image-ethereum-classic {
        @include image-retina(#{ $base-images-path + '/blockscout/slideshow/grid/ethereum-classic-logo' }, 'png');
    }
    &.blockscout-slideshow-grid-item-image-kovan {
        @include image-retina(#{ $base-images-path + '/blockscout/slideshow/grid/kovan-logo' }, 'png');
    }
    &.blockscout-slideshow-grid-item-image-poa {
        @include image-retina(#{ $base-images-path + '/blockscout/slideshow/grid/poa-logo' }, 'png');
    }
    &.blockscout-slideshow-grid-item-image-ropsten {
        @include image-retina(#{ $base-images-path + '/blockscout/slideshow/grid/ropsten-logo' }, 'png');
    }
    &.blockscout-slideshow-grid-item-image-sokol {
        @include image-retina(#{ $base-images-path + '/blockscout/slideshow/grid/sokol-logo' }, 'png');
    }
}

.blockscout-slideshow-grid-item-title {
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin: 0;
}

$blockscout-slideshow-images-horizontal-separation: 30px;
$blockscout-slideshow-images-width: 480px;

.blockscout-slideshow-images-container {
    max-width: 100%;
    width: $blockscout-slideshow-images-width;

    @media screen and (max-width: $tablet-width-horizontal) {
        margin-bottom: 50px;
    }
}

.blockscout-slideshow-images {
    background-color: #dfdfdf;
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-grow: 0;
    margin-bottom: 55px;
    max-width: 100%;
    width: $blockscout-slideshow-images-width;
}

.blockscout-slideshow-image {
    flex-shrink: 0;
    width: $blockscout-slideshow-images-width;

    &:last-child {
        margin-right: 0;
    }

    .content-ratio {
        @include aspect-ratio(480px, 366px);
        border-radius: 5px;
    }

    .blockscout-slideshow-img {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@keyframes blockScoutSlideshowDotsActive {
    from {
        width: 6px;
    }
    to {
        border-radius: 12px;
        width: 12px;
    }
}

@keyframes blockScoutSlideshowDots {
    from {
        background-color: #5332a0;
        width: 12px;
    }
    to {
        background-color: #d2d2d2;
        border-radius: 50%;
        width: 6px;
    }
}

.blockscout-slideshow-dot {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &.slick-active {

            button::before {
                animation-duration: 0.25s;
                animation-fill-mode: forwards;
                animation-name: blockScoutSlideshowDotsActive;
                background-color: #5332a0;
            }

        }

        &:not(.slick-active) {

            button::before {
                animation-duration: 0.15s;
                animation-name: blockScoutSlideshowDots;
            }

        }
    }

    button {
        background-color: transparent;
        border: 0;
        color: transparent;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 20px;
        line-height: 0;
        outline: none;
        padding: 0;
        position: relative;
        width: 20px;

        &::before {
            background-color: #d2d2d2;
            border-radius: 50%;
            content: '';
            height: 6px;
            left: 50%;
            outline: none;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 6px;
        }
    }
}

.blockscout-special-thanks-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.14;
    margin: 0 0 40px;
    position: relative;
    z-index: 4;
}

.blockscout-special-thanks-text {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    margin: 0 0 55px;
    padding: 0;
    position: relative;
    z-index: 4;
}
