.bridge-section {
    .masthead {
        @include image-retina(#{ $base-images-path + '/bridge/bg' }, 'jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 625px;

        @media screen and (min-width: 1441px) {
            height: 900px;
        }
    }
}

.bridge-view-on-github {
    margin: 0 0 50px;
    padding: 0;
    text-align: center;
}

a.bridge-view-on-github-a {
    background-image: url('#{ $base-images-path }/icons/git.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: $primary;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 0 30px;
    text-decoration: none;
}

.bridge-section-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    font-weight: 400;
}

.bridge-section-subtitle {
    color: $primary;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 45px;
    text-transform: inherit;
}

.bridge-section-description {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
