.core-section {
    .masthead {
        @include image-retina(#{ $base-images-path + '/core/bg' }, 'jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 750px;
        position: relative;

        &::before {
            background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
            bottom: 0;
            content: "";
            height: 250px;
            left: 0;
            position: absolute;
            right: 0;
        }
    }
}

@media(max-width: $tablet-width) {
    .core-section {
        background-size: auto 750px;
        background-position: 50% 0;
    }
}

