// featured dapps
.featured-dapps {
    background-image: linear-gradient(to right, #5231a0, #7258b0);
    padding: 49px 0;
}

.featured-dapps-container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.title-featured-dapps {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 45px 0;
}

.featured-dapp-outer {
    padding: 0 15px;
}

.featured-dapp {
    min-width: 290px;

    @media screen and (max-width: $mobile-width) {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    .dapp-labels {
        margin-bottom: 20px;
    }
}

.featured-dapp-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 150px;

    &.image-1 {
        background-image: url('#{ $base-images-path }/daaps/blockchain_explorer@2x.png');
    }
    &.image-2 {
        background-image: url('#{ $base-images-path }/daaps/nifty_wallet@2x.png');
    }
    &.image-3 {
        background-image: url('#{ $base-images-path }/daaps/bridge_UI@2x.png');
    }
}

.featured-dapp-title {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 15px;
    padding: 0;
}

.featured-dapp-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13.5px;
    font-weight: 400;
    line-height: 1.71;
    margin: 0 0 15px;
    padding: 0;
}

.featured-dapp-links {
    display: flex;
}

.featured-dapp-link {
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: $daaps-link-color;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-right: 20px;
    padding-left: 30px;
    text-decoration: none;

    &:hover {
        color: $daaps-link-color;
    }

    &:last-child {
        margin-right: 0;
    }

    &.featured-dapp-link-more {
        background-image: url('#{ $base-images-path }/daaps/icon-run.svg');
        background-size: 18px 12px;
    }
    &.featured-dapp-link-source {
        background-image: url('#{ $base-images-path }/daaps/icon-source-code-2.svg');
        background-size: 18px 16px;
    }
}

// dapps tabs
#dappsNavDrag {
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
    max-width: fit-content;
}

.dappsNavListItems {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
    .dappsNav {
        display: flex;
        justify-content: space-between;
    }
}

.dappsNavItem {
    @include not-selectable-text();
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 30px;
    padding: 43px 0 41px;
    position: relative;
    text-transform: capitalize;
    &:last-child {
        margin-right: 0;
    }
    &.active {
        color: $primary;
        cursor: default;
        &:before {
            background: $primary;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            bottom: 0;
            content: '';
            height: 4px;
            opacity: 1;
            position: absolute;
            width: 100%;
        }
    }
    &:hover {
        color: $primary;
    }
}

// dapps list items
.dappsContentItem {
    border-bottom: solid 1px #e7e7e7;
    padding: 50px 0 50px 0;
    .daapImageWrap {
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .hidden {
        display: none;
    }
    .visible {
        display: block;
    }
    &.no-border,
    &:last-child {
        border-bottom: none;
        margin-bottom: 50px;
    }
}

.dappsRightContent {
    padding-left: 30px;
    p {
        padding-top: 10px;
    }
}

.dappsContentBottom {
    justify-content: flex-start;
    margin-top: 8px;
    div {
        a {
            align-items: center;
            display: flex;
            margin-right: 10px;
            img {
                margin-right: 15px;
            }
        }
        .dappsMoreInfo,
        .dappsSourceCode {
            color: $primary;
            font-size: 14px;
            line-height: 25px;
            margin-right: 15px;
        }
    }
}

@media (max-width: 769px) {
    .dappsBanner {
        .dappsItemBottomWrap {
            margin-bottom: 0;
        }
    }
    .dappsRightContent {
        padding-top: 20px;
        padding-left: 0;
    }
}

.dapps-form {
    background-image: url('#{ $base-images-path }/pattern@2x.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    padding: 90px 0;
    label {
        font-size: 14px;
        color: #666;
        margin-top: 10px;
    }
    textarea {
        min-height: 115px;
        width: 100%;
    }
}

.daaps-wrapper-form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 30px 60px 0 rgba(72, 42, 139, 0.3);
    margin: auto;
    max-width: 612px;
    padding: 40px;
    text-align: center;
    width: 100%;

    h4 {
        font-size: 1.38rem;
        text-transform: none;
        font-weight: 500;
    }
    p {
        padding: 15px 0;
    }
}

.daaps-wrapper-form {
    &.modal-content {
        border: none;
        position: relative;
    }
    .modal-form-title {
        color: #363636;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 18px;
        &.p-t-10 {
            padding-top: 10px;
        }
    }
    .m-b-0 {
        margin-bottom: 0;
    }
    .dapps-description-field {
        height: 189px;
        width: 100%;
    }
}

.top-dapps-block {
    background-image: linear-gradient(to right, #4a2c90, #664f9e);
    display: flex;
    height: 140px;

    @media screen and (max-width: $mobile-width) {
        height: auto;
    }

    .container {
        display: flex;

        @media screen and (max-width: $mobile-width) {
            flex-direction: column;
            padding-top: 15px;
        }

    }
}

.top-dapps-dapp {
    align-items: center;
    display: flex;
    margin: 0 40px 0 0;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
    }

    @media screen and (max-width: $mobile-width) {
        margin: 0 0 30px;
    }

    &:first-child {
        @media screen and (max-width: $tablet-width) {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        @media screen and (max-width: $mobile-width) {
            border-right: none;
        }
    }

    &:last-child {
        margin-right: 0;

        .the-text {
            padding-right: 0;
        }
    }

    .the-image-container {
        margin: 0 30px 0 0;
        min-width: min-content;

        @media screen and (max-width: $tablet-width) {
            margin: 0;
        }

    }
    .the-image {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 26px;

        @media screen and (max-width: $tablet-width) {
            margin-bottom: 10px;
            margin-top: 5px;
        }

        @media screen and (max-width: $mobile-width) {
            margin-bottom: 15px;
        }

        &.sotd {
            @include image-retina('#{ $base-images-path }/daaps/sotd', 'png');
            width: 126px;
        }
        &.dv {
            @include image-retina('#{ $base-images-path }/daaps/dv', 'png');
            width: 146px;
        }
    }
    .the-text {
        padding-right: 40px;

        &.has-border {
            border-right: 1px solid rgba(255, 255, 255, 0.2);

            @media screen and (max-width: $tablet-width) {
                border: none;
            }

        }

        @media screen and (max-width: $tablet-width) {
            display: flex;
            flex-direction: column;
        }

    }
    .text-contents {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        margin-bottom: 15px;

        @media screen and (max-width: $tablet-width) {
            margin-bottom: 5px;
            text-align: center;
        }

    }
    .more-info {
        background-image: url('#{ $base-images-path }/daaps/icon-run.svg');
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-size: 18px 12px;
        color: $daaps-link-color;
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 30px;

        @media screen and (max-width: $tablet-width) {
            align-self: center;
        }

    }
}