// Componetns
.btn-primary-accent {
	background: $primary !important;
	&:hover {
		background: lighten($primary, 10);
	}
	&:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus {
		box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
	}
}

// Hero

.hero {
	position: relative;
	text-align: center;
	@media (min-width: $tablet-width) {
		background: url(../img/dpos/pic-main@2x.png) right 10% center no-repeat;
		background-size: 340px 238px;
		text-align: left;
	}
	@media (min-width: 1200px) {
		background-size: 558px 391px;
		background-position: right 15% center;
		min-height: 500px;
	}
	@media (min-width: 1400px) {
		background-position: right 20% center;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 50%;
		background-image: linear-gradient(to bottom, rgba(243,246,254,1) 0%,rgba(255,255,255,0.18) 82%,rgba(255,255,255,0) 100%);
		z-index: -1;
	}
}

.hero-heading {
	font-size: 44px !important;
	line-height: 0.8;
	font-weight: 700;
	text-transform: none;
	@media (min-width: $tablet-width) {
		max-width: 440px;
	}
	span {
		display: block;
		font-size: 20px;
		line-height: 1.4;
		font-weight: 300;
		margin-top: 20px;
		@media (min-width: $tablet-width) {
			font-size: 30px;
		}
	}
}

.hero-mobile-img {
	max-height: 160px;
	margin-bottom: 30px;
	@media (min-width: $tablet-width) {
		display: none;
	}
}

// Description
.descr-section {
	text-align: center;
	@media (min-width: $tablet-width) {
		text-align: left;
	}
}

.descr-elem {
	display: flex;
	flex-direction: column;
	@media (min-width: $tablet-width) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	&.rev {
		.descr-elem-text {
			order: 1;
			@media (min-width: $tablet-width) {
				order: 0;
			}
		}
	}
	& + .descr-elem {
		margin-top: 75px;
		@media (min-width: $tablet-width) {
			margin-top: 150px;
		}
	}
}

.descr-elem-text {
	display: flex;
	flex-direction: column;
	@media (min-width: $tablet-width) {
		flex: 0 0 50%;
	}
}

.descr-elem-img {
	text-align: center;
	margin-bottom: 30px;
	img {
		max-height: 160px;
		@media (min-width: $tablet-width) {
			max-width: 100%;
			max-height: 320px;
		}

	}
}

// Explorer
.explorer {
	text-align: center;
	padding-bottom: 0;
}

.explorer-illustr {
	@media (min-width: $container-responsive-width) {
		margin-top: 20px;
	}
}

.explorer-controlls {
	margin: 0;
	top: 20px;
	position: relative;
	padding-left: 0;
	li {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 6px;
		background-color: #eff2f8;
		cursor: pointer;
		transition: .2s ease-in;
		&.active, &:hover {
			background-color: $primary;
		}
		& + li {
			margin-left: 8px;
		}
	}
}

.pic-slider {
	min-height: 230px;
	position: relative;
	top: 40px;
	overflow: hidden;
	@media (min-width: $tablet-width) {
		min-height: 420px;
	}
	@media (min-width: $container-responsive-width) {
		min-height: 520px;
	}
}
.pic-slider-slide {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 16px 16px 0 0;
	overflow: hidden;
	border: 1px solid #e4eaf8;
	background-color: #fff;
	height: 190px;
	transition: .4s ease-in;
	transform-origin: center top;
	will-change: z-index;
	@media (min-width: $tablet-width) {
		width: 740px;
		margin-left: -370px;
		border-radius: 20px 20px 0 0;
		left: 50%;
		height: 380px;
	}
	@media (min-width: $container-responsive-width) {
		left: 0;
		margin-left: 0;
		width: 100%;
		height: 480px;
	}
	img {
		float: left;
		opacity: 0;
		width: 100%;
		height: auto;
		transition: .4s;
	}
	&-first {
		z-index: 3;
		animation-duration: .16s;
		animation-delay: 0;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;
		img {
			opacity: 1;
			transition: .2s;
		}
	}
	&-second {
		z-index: 2;
		transform: scale(.92);
		bottom: 20px;
	}
	&-third {
		z-index: 1;
		transform: scale(.84);
		bottom: 40px;
	}
}

@keyframes slideAnim {
	from {
		bottom: 0;
		opacity: 1;
	}
	to {
		bottom: -20%;
	}
}

// Opportunity

.opportunity {
	background: #fff linear-gradient(to bottom, rgba(243,246,254,1) 0%,rgba(255,255,255,0.18) 82%,rgba(255,255,255,0) 100%);
	position: relative;
	z-index: 3;
	.container {
		display: flex;
		text-align: center;
		flex-direction: column;
		@media (min-width: $container-responsive-width) {
			text-align: left;
			flex-direction: row;
		}
	}
	@media (min-width: $container-responsive-width) {
		padding-top: 150px;
	}
}

.offer-illustr {
	text-align: center;
	margin-bottom: 30px;
	@media (min-width: $container-responsive-width) {
		text-align: left;
		margin-bottom: 0;
	}
	img {
		max-height: 160px;
		@media (min-width: $container-responsive-width) {
			max-height: 251px;
		}
	}
}

.offer-content {
	@media (min-width: $container-responsive-width) {
		margin-left: 70px;
	}
}

// Carousels

.feedback-carousel {
	@media (min-width: $container-responsive-width) {
		margin-bottom: 50px;
	}
	.slick-arrow {
		@media (max-width: 767px) {
			display: none !important;
		}
	}
	
}

.carousel-body {
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	@media (min-width: $container-responsive-width) {
		padding-left: 0;
		padding-right: 0;
	}
	@media (min-width: $tablet-width) {
		padding-left: 50px;
		padding-right: 50px;
	}
	.slick-arrow {
		width: 24px;
		height: 78px;
		background: url(../img/dpos/arrow.svg);
		content: "";
		border: none;
		opacity: .2;
		position: absolute;
		top: 50%;
		margin-top: -39px;
		outline: none;
		transition: .2s ease-in;
		display: none;
		@media (min-width: $tablet-width) {
			display: inline-block;
		}
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
	.slick-prev {
		left: 0px;
		transform: rotate(180deg);
		@media (min-width: $container-responsive-width) {
			left: -106px;
		}
	}
	.slick-next {
		right: 0px;
		@media (min-width: $container-responsive-width) {
			right: -106px;
		}
	}
}

.feedback-item-quotes {
	margin-bottom: 46px;
}

.feedback-item-text {
	font-size: 21px;
	line-height: 1.6;
	font-style: italic;
	font-weight: 300;
	color: #333;
	@media (min-width: $tablet-width) {
		font-size: 30px;
	}
	a {
		color: #333;
		span {
			color: $primary;
		}
	}
}

.feedback-item-user {
	display: inline-flex;
	text-align: left;
	align-items: center;
	justify-content: center;
	margin-top: 26px;
	@media (min-width: $tablet-width) {
		margin-top: 40px;
	}
}

.feedback-item-quotes {
	display: inline-block !important;
}

.f-user-inf {
	h3 {
		margin: 0 0 4px;
		font-size: 16px;
		line-height: 1.1;
		color: #333;
		font-weight: 600;
		@media (min-width: $tablet-width) {
			font-size: 18px;
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
	span {
		color: $primary;
		transition: .2s ease-in;
		font-size: 14px;
	}
	&:hover {
		span {
			color: darken($primary, 5);
		}
	}
}

.f-user-avatar {
	width: 44px;
	height: 44px;
	flex: 0 0 44px;
	border-radius: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 20px;
	@media (min-width: $tablet-width) {
		position: relative;
		top: 2px;
		width: 60px;
		height: 60px;
		flex: 0 0 60px;
		border-radius: 30px;
	}
}