$events-tabs-height: 90px;

.events-filters {
    background-image: linear-gradient(to right,#5231a0, #7258b0);
    height: $events-tabs-height;

    .container {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.events-tabs {
    height: $events-tabs-height;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobile-width) {
        margin-bottom: 15px;
    }

    .events-tab {
        @include not-selectable-text();
        color: #fff;
        cursor: pointer;
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 700;
        height: $events-tabs-height;
        line-height: $events-tabs-height;
        margin-right: 40px;
        position: relative;

        @media screen and (max-width: $tablet-width) {
            margin-right: 20px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active::after {
            background-color: $secondary-green;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            bottom: 0;
            content: '';
            height: 4px;
            position: absolute;
            width: 100%;
            left: 0;
        }
    }

}

.filtered-events-list {
    padding: 100px 0;

    @media screen and (max-width: $tablet-width) {
        padding: 50px 0;
    }

    .container {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        @media screen and (max-width: $tablet-width) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: $mobile-width) {
            grid-template-columns: 1fr;
        }

    }

    .filtered-event-item {
        &.hidden {
            display: block;
        }
        &.hidden {
            display: none;
        }
        .filtered-event-image-container {
            @include aspect-ratio(530px, 247px);
            background-image: url('#{ $base-images-path }/ajax-loader.gif');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            display: block;
            margin-bottom: 20px;
        }
        .filtered-event-image {
            background-color: #2f2f2f;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
            display: block;
        }
        .filtered-event-title {
            display: flex;
        }
        .filtered-event-date {
            align-items: center;
            background-image: linear-gradient(to right, #7258b0, #5231a0);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            height: 48px;
            justify-content: center;
            margin-right: 14px;
            width: 48px;
            .the-number {
                color: #fff;
                font-size: 19.9px;
                font-weight: 400;
                line-height: 1.3;
            }
            .the-month {
                color: #fff;
                font-size: 10.3px;
                font-weight: 400;
                line-height: 1.2;
                text-transform: uppercase;
            }
        }
        .filtered-event-title-name {
            color: #363636;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .filtered-event-title-date {
            color: #363636;
            cursor: pointer;
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;
            margin: 0;
            padding: 0;

            &.is-upcoming {
                color: $primary;
            }

        }

        &[data-event-category="past"] {
            .filtered-event-date {
                background-color: #e5e5e5;
                background-image: none;
                .the-number {
                    color: #333;
                }
                .the-month {
                    color: #333;
                }
            }
        }

    }
}