.network-page {
    .masthead {
        background-image: url('#{ $base-images-path }/bg-network.jpg');
        background-position: 50% 10%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 760px;

        @media  (-webkit-min-device-pixel-ratio: 2),
                (-moz-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
          height: 800px;
        }
        @media screen and (max-width: $mobile-width) {
            padding-top: 2rem;
            height: 500px;
        }
    }
}

.network-grad {
    background-image: linear-gradient(to right, $color_deluge_84_approx, $color_gigas_84_approx);
}

.inline-newsletter-form {
    .subscribe-input {
        @include placeholder-color(rgba(255, 255, 255, 0.7));

        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        color: #fff;
        transition: background-color 0.15s linear;
        &:focus {
            @include placeholder-color(rgba(255, 255, 255, 1));
            color: #fff;
        }
    }
}

.network-info-section {
    @media screen and (max-width: $tablet-width) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.network-info-section-block {
    display: flex;
    margin-bottom: 110px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (max-width: $tablet-width) {
        justify-content: space-evenly;
    }
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
        margin-bottom: 60px;
    }
}

.network-info-section-image {
    max-width: 50%;
    &.image-1 {
        height: 260px;
        margin-right: 54px;
    }
    &.image-2 {
        height: 342px;
        margin-left: 141px;
    }
    &.image-3 {
        height: 367px;
        margin-right: 54px;
        img {
            max-width: 430px;
        }
    }
    &,
    &[class*="image-"] {
        @media screen and (max-width: $tablet-width) {
            margin: 0;
            max-width: 42%;
        }
        @media screen and (max-width: $mobile-width) {
            height: auto;
            min-width: 100%;
            order: 0;
            padding-bottom: 30px;
        }
    }
}

.network-info-section-text {
    @media screen and (max-width: $tablet-width) {
        width: 45%;
    }
    @media screen and (max-width: $mobile-width) {
        order: 1;
        width: 100%;
    }
}

.network-info-title {
    color: $primary;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.14;
    text-transform: none;
    &.color-white {
        color: #fff;
    }
}

.network-info-text {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    &.short {
        max-width: 650px;
        display: inline-block;
    }
    &.xdai {
      display: block;
      max-width: 650px;
      margin: 0 auto;
    }
}

.built-for-you-section {
    @media screen and (max-width: $tablet-width) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.built-for-you-section-narrow-container {
    margin: 0 auto;
    max-width: 835px;
    @media screen and (max-width: $mobile-width) {
        .network-info-title,
        .network-info-text {
            text-align: left !important;
        }
    }
}

.built-for-you-section-columns {
    display: flex;
    padding-top: 60px;
    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
    }
}

.built-for-you-section-column {
    $built-for-you-section-column-padding: 50px;

    display: flex;
    &:first-child {
        border-right: 1px solid #ddd;
        padding-right: $built-for-you-section-column-padding;
        @media screen and (max-width: $tablet-width) {
            border-right: none;
            margin-bottom: 50px;
            padding-right: 0;
        }
    }
    &:last-child {
        padding-left: $built-for-you-section-column-padding;
        @media screen and (max-width: $tablet-width) {
            padding-left: 0;
        }
    }
    @media screen and (max-width: $tablet-width) {
        max-width: 600px;
    }
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.built-for-you-section-column-image {
    height: 178px;
    margin-bottom: 30px;
    img {
        max-width: 190px;
        @media screen and (max-width: $mobile-width) {
            display: block;
            margin: 0 auto;
        }
    }
    @media screen and (max-width: $mobile-width) {
        padding: 0;
    }
}

.built-for-you-section-column-title {
    color: #363636;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.2;
}

.built-for-you-section-column-text {
    color: #666;
    font-size: 14px;
    line-height: 1.71;
}

.network-games {
    background-image: linear-gradient(to right, #5231a0, #7258b0);
}

.poa-games {
    text-align: center;
}

.poa-games-gamepad {
    max-width: 1064px;
    margin: 2.188em auto 0;
    padding: 0 15px;
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.poa-games-title {
    position: absolute;
    font-family: "PT Mono", sans-serif;
    font-weight: 700;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    // text-transform: uppercase;
    font-size: 11px;
    top: 18%;
    width: 100%;
    font-size: 10px;
    @media (min-width: $tablet-width) {
        font-size: 13px;
        top: 22%;
    }
    @media (min-width: 1064px) {
        font-size: 20px;
    }
    .hide-mob {
        display: none;
        @media (min-width: $tablet-width) {
            display: inline;
        }
    }
}

.poa-games-progressbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 50%;
    height: 21%;
    border-radius: 26px;
    bottom: 30%;
    @media (min-width: $tablet-width) {
        width: 52%;
    }
}

.poa-games-progressbar-line {
    text-align: center;
    background-image: linear-gradient(to right, #84e4a9, #94ffbd);
    box-shadow: inset 0px 4px 8px 0 #7bd49d;
    height: 100%;
    position: relative;
}

.poa-games-progress-inf {
    color: darken($primary-green, 20);
    font-family: "PT Mono", sans-serif;
    font-weight: 700;
    position: absolute;
    width: 100%;
    font-size: 11px;
    top: 52%;
    left: 0;
    transform: translateY(-50%);
    @media (min-width: $tablet-width) {
       font-size: 13px;
    }
    @media (min-width: 1064px) {
        font-size: 21px;
    }
}

.use-cases {
    margin-top: 100px;
    .container {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet-width) {
            flex-direction: row;
        }
    }
}

.use-cases-img {
    text-align: center;
    border-radius: 4px;
    @media (min-width: $tablet-width) {
        text-align: left;
        flex: 0 0 180px;
    }
    img {
        max-width: 180px;
        height: auto;
        border-radius: 4px;
    }
}

.use-cases-content, .use-cases-success {
    margin-top: 2em;
    text-align: center;
    @media (min-width: $tablet-width) {
        margin-top: 0;
        text-align: left;
    }
}

.use-cases-content {
    @media (min-width: $tablet-width) {
        padding-left: 48px;
        padding-right: 67px;
    }
}

.use-cases-heading {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.use-cases-link {
    display: inline-block;
    margin-top: 30px;
    color: $dapp-label-live;
    img {
        margin-right: 6px;
    }
    &:hover {
        color: $dapp-label-live;
        opacity: .8;
    }
}

.use-cases-success {
    @media (min-width: $tablet-width) {
        flex: 0 0 196px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: -28px;
            background-color: rgba(255,255,255,.2);
        }
    }
    h3 {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        line-height: 1.66;
    }
}

.use-cases-factors {
    margin-top: 30px;
    @media (min-width: $container-responsive-width) {
        margin-top: 40px;
    }
}

.use-cases-factor {
    & + .use-cases-factor {
        margin-top: 30px;
    }
    h4 {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 1.4;
        margin-bottom: 12px;
    }
    p {
        padding-top: 0;
        color: #fff;
        opacity: .7;
    }
}

.network-contributors-images {
    display: inline-flex;
    height: 240px;
}

.network-contributors-images-row {
    display: flex;
    justify-content: center;
    min-width: 100%;
    &:nth-child(2) {
        margin-top: -10px;
        margin-bottom: -10px;
    }
}

.network-contributors-image {
    $network-contributors-image-dimensions: 80px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    height: $network-contributors-image-dimensions;
    margin: 0 $network-contributors-image-dimensions / 2;
    overflow: hidden;
    width: $network-contributors-image-dimensions;

    &:hover {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
    }
}

.network-partners-section {
    background-image: linear-gradient(to right, #7258b0, #5231a0);
    height: 350px;
    margin-bottom: 100px;
    padding-top: 90px;

    @media screen and (max-width: $mobile-width) {
        height: auto;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .network-info-title {
        margin-bottom: 50px;
    }
}

.network-partners-logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;

    @media screen and (max-width: $tablet-width) {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
    }

    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }

}

.network-partners-logo {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 25%;
    margin-bottom: 35px;

    @media screen and (max-width: $mobile-width) {
        margin:0 auto 35px;
    }

    &:last-child {
        @media screen and (max-width: $mobile-width) {
            margin-bottom: 0;
        }
    }

    &.logo-1 {
        background-image: url('#{ $base-images-path }/network/logo-bankor@3x.png');
        height: 33px;
        width: 130px;
    }
    &.logo-2 {
        background-image: url('#{ $base-images-path }/network/logo-sentinel@3x.png');
        height: 24px;
        width: 130px;
    }
    &.logo-3 {
        background-image: url('#{ $base-images-path }/network/logo-gitcoin@3x.png');
        height: 41px;
        width: 125px;
    }
    &.logo-4 {
        background-image: url('#{ $base-images-path }/network/logo-infura@3x.png');
        height: 17px;
        width: 130px;
    }
    &.logo-5 {
        background-image: url('#{ $base-images-path }/network/logo-compound@3x.png');
        height: 35px;
        width: 168px;
    }
    &.logo-6 {
        background-image: url('#{ $base-images-path }/network/logo-consensys@3x.png');
        height: 36px;
        width: 152px;
    }
    &.logo-7 {
        background-image: url('#{ $base-images-path }/network/logo-maker@3x.png');
        height: 36px;
        width: 146px;
    }
}

// Infrastructure
.infrastructure {
    background-image: linear-gradient(to right, #7258b0, #5231a0);
    text-align: center;
    .btn-center {
        max-width: 154px;
    }
}

.network-the-road-ahead-section {
    background-image: linear-gradient(to right, #7258b0, #5231a0);
    height: 609px;
    margin-bottom: 120px;
    padding: 0;
}

.network-the-road-ahead-section-image {
    @include image-retina(#{ $base-images-path + '/network/road' }, 'png', 2);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    padding: 100px 0 0 0;
    @media (min-width: 1440px) {
        background-position: center bottom -70px;
    }
}

.network-the-road-ahead-description {
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    margin: 0 0 25px;
    padding: 0;
}

.network-news-section-loading {
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('#{ $base-images-path }/ajax-loader.gif');
}

.network-news-section-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.network-news-section-top-info {
    padding-right: 100px;
    @media screen and (max-width: $mobile-width) {
        margin-bottom: 40px;
        padding-right: 0;
    }
}

.network-news-section-top-description {
    color: rgba(102, 102, 102, 0.7);
    font-size: 14px;
    line-height: 1.71;
    margin: 0 0 25px;
    padding: 0;
}

.network-news-section-top-details {
    border-radius: 5px;
    border: solid 1px #ddd;
    cursor: pointer;
    display: block;
    max-width: 100%;
    min-width: 430px;
    overflow: hidden;

    @media screen and (max-width: $mobile-width) {
        min-width: 0;
    }

    .the-image {
        background-image: linear-gradient(to right, #7258b0, #5231a0);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 200px;
        max-width: 100%;
        overflow: hidden;

        img {
            display: block;
        }

    }
    .the-info {
        display: block;
        padding: 20px;
    }
    .the-title {
        color: #363636;
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .the-description {
        color: #666;
        display: block;
        font-size: 14px;
        line-height: 1.71;
        margin: 0 0 25px;
        padding: 0;
    }
    .view-more {
        color: $primary;
        display: block;
        font-size: 14px;
        line-height: 1.71;
    }
}

.network-news-section-news-list {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.network-news-section-news-list-item {
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #ddd;
    cursor: pointer;
    margin-right: 10px;
    max-width: 300px;
    overflow: hidden;
    transition: box-shadow 0.1s linear;
    width: 33.33333%;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: $tablet-width) {
        max-width: 240px;
    }
    @media screen and (max-width: $mobile-width) {
        margin-bottom: 60px;
        margin-right: 0;
        max-width: 100%;
        width: 100%;
    }

    &:hover {
        box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 0.15);
    }
    .the-image {
        background-image: linear-gradient(to right, #7258b0, #5231a0);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 140px;
        max-width: 100%;
        overflow: hidden;
        @media screen and (max-width: $mobile-width) {
            height: 200px;
        }
        img {
            display: block;
        }
    }
    .the-info {
        display: block;
        padding: 20px;
    }
    .the-title {
        color: #363636;
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 12px;
    }
    .the-description {
        color: #666;
        display: block;
        font-size: 14px;
        line-height: 1.71;
        margin: 0 0 12px;
        padding: 0;
    }
    .view-more {
        color: $primary;
        display: block;
        font-size: 14px;
        line-height: 1.71;
    }
}
