.error-page {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	@media (min-width: $tablet-width) {
		flex-direction: row;
		align-items: center;
		text-align: left;
	}
}

.error-page-illustr {
	margin-bottom: 30px;
	@media (min-width: $tablet-width) {
		margin-bottom: 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.error-page-content {
	.network-info-title {
		font-size: 24px;
	}
	.network-info-text {
		@media (min-width: $tablet-width) {
			max-width: 310px;
		}
	}
	@media (min-width: $container-width) {
		margin-left: 110px;
	}
}

