.x-dai-page {
    .masthead {
        @include image-retina(#{ $base-images-path + '/x-dai/background/bg' }, 'jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 665px;
        position: relative;

        &::before {
            background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
            bottom: 0;
            content: "";
            height: 250px;
            left: 0;
            position: absolute;
            right: 0;
        }

        @media screen and (min-width: 1441px) {
            height: 900px;
        }
    }

    .hero {
        @media (min-width: $tablet-width) {
            background-image: url(../img/xdai-landing/pic-main@2x.png)
        }
    }

    .hero-heading, .network-info-title {
        color: $xdai-primary;
    }

    .network-info-text {
        color: $xdai-gray;
    }

    .btn-primary {
        border: 1px solid $xdai-green !important;
        color: $xdai-green;
        background: transparent !important;
        &:hover {
            background: $xdai-green !important;
            color: #fff;
        }
        &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus {
            box-shadow: 0 0 0 0.2rem rgba($xdai-green, 0.5);
        }
    }

    .use-cases {
        margin-top: 0;
        .network-info-title {
            text-align: center;
            @media (min-width: $tablet-width) {
                text-align: left;
            }
        }
    }
    .use-cases-factor p {
        opacity: 1;
    }
    .use-cases-heading, .use-cases-factor h4, .use-cases-success h3 {
        color: $xdai-primary;
    }
    h3.use-cases-heading {
        font-size: 18px;
        line-height: 1.4;
    }
    .use-cases-factor p {
        color: $xdai-gray;
    }
    .use-cases-success:after {
        background-color: #e3e9fa;
    }
    .use-cases-link {
        margin-top: 0;
        & + .use-cases-link {
            margin-top: 30px;
        }
    }
    .use-cases-top {
        display: block;
    }
    .use-cases-img {
        @media (min-width: $tablet-width) {
            flex: 0 0 148px;
        }
    }
    .use-cases-content {
        @media (min-width: $tablet-width) {
            padding-left: 0;
        }
    }
    // .use-cases-table-link {
    //     margin-top: 15px;
    // }
    .link-row {
        padding: 15px 0;
        display: flex;
        justify-content: center;
        @media (min-width: $tablet-width) {
            justify-content: flex-start;
        }
    }
    .use-cases-ext-link {
        color: $xdai-primary;
        font-size: 14px;
        font-weight: 400;
        display: inline-flex;
        flex-direction: column;
        border-radius: 4px;
        border: solid 1px #e3e9fa;
        background-color: #fff;
        background-image: url(../img/x-dai/arrow-gray.svg);
        background-repeat: no-repeat;
        background-position: right 16px center;
        padding: 9px 53px 10px 15px;
        transition: .2s ease-in;
        text-align: left;
        & + .use-cases-ext-link {
            margin-left: 20px;
        }
        img {
            top: 7px;
            position: relative;
            width: 12px;
            height: 8px;
        }
        span {
            color: #666;
            font-size: 12px;
            transition: .2s ease-in;
        }
        &:hover {
            background-color: $xdai-green;
            box-shadow: 0px 10px 20px 0 rgba(21, 187, 166, 0.25);
            color: #fff;
            border-color: $xdai-green;
            span {
                color: #fff;
            }
        }
    }

    .explorer-controlls {
        li.active, li:hover {
            background-color: $xdai-green;
        }
    }

    .x-dai-opportunity {
        background: transparent;
    }
    
    .feedback-carousel {
        .feedback-item-text, .feedback-item-user {
            span {
                color: $xdai-green !important;
            }
            &:hover {
                span {
                    color: darken($xdai-green, 5) !important;
                }
            }
        }
    }
    .feedback-carousel {
        background: #fff linear-gradient(to bottom, rgba(243,246,254,1) 0%,rgba(255,255,255,0.18) 82%,rgba(255,255,255,0) 100%);
    }

    .poa-games-gamepad {
        margin-top: 60px;
        max-width: 990px;
        .poa-games-title {
            color: #4c66ff;
            @media (min-width: 1064px) {
                font-size: 18px;
            }
        }
        .poa-games-progressbar {
            height: 28.2%;
            bottom: 11.5%;
            width: 54.5%;
        }
        .poa-games-progressbar-line {
            box-shadow: none;
            background: #d0ede8;
        }
    }

    .use-cases-link.arrow-link {
        margin-top: 30px !important;
        color: #6ab9a6;
    }
}

.distrbution {
    background: #fff linear-gradient(to bottom, rgba(243,246,254,1) 0%,rgba(255,255,255,0.18) 82%,rgba(255,255,255,0) 100%);
    position: relative;
    z-index: 10;
    .network-info-title {
        text-align: center;
        @media (min-width: $tablet-width) {
            text-align: left;
        }
    }
}

.distrbution-descr {
    display: flex;
    text-align: center;
    @media (min-width: $tablet-width) {
        text-align: left;
    }
    .btn + .btn {
        margin-left: 16px;
    }
}

.distrbution-text {
    @media (min-width: $tablet-width) {
        padding-right: 44px;
    }
}

.distrbution-illustr {
    display: none;
    @media (min-width: $tablet-width) {
        display: block;
    }
}

.distrbution-data {
    margin-top: 30px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-width) {
        margin-top: 60px;
        margin-bottom: 70px;
        flex-direction: row;
    }
}

.distrbution-chart {
    display: flex;
    justify-content: center;
    @media (min-width: $tablet-width) {
        justify-content: flex-start;
    }
}

#doughnut-chart {
    width: 200px !important;
    height: 200px !important;
}

.distrbution-legend {
    margin-top: 40px;
    @media (min-width: $tablet-width) {
        margin-top: 0;
        padding-left: 46px;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.legend-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    position: relative;
    padding-left: 18px;
    margin-bottom: 20px;
    padding-right: 26px;
    @media (min-width: $tablet-width) {
       flex: 0 0 33.3333%; 
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
        border-radius: 2px;
        background-color: #666;
    }
    &.faded-blue {
        &:after {
            background-color: #e1eefe;
        }
    }
    &.green {
        &:after {
            background-color: #47C7A9;
        }
    }
    &.violet-light {
        &:after {
            background-color: #8221DB;
        }
    }
    &.blue {
        &:after {
            background-color: #3B94E6;
        }
    }
    &.yellow {
        &:after {
            background-color: #EBA329;
        }
    }
    &.pink {
        &:after {
            background-color: #D42CA3;
        }
    }
}

.l-status {
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
    img {
        margin-right: 2px;
    }
    &.unlocked {
        color: $xdai-green;
    }
    &.halfunlocked {
        color:#4096e3
    }
}

.l-status-heading {
    font-size: 12px;
    color: #333;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 14px;
        color: $xdai-primary;
        font-weight: bold;
    }
}

.l-status-quantity {
    padding-top: 0;
    color: $xdai-primary;
    font-size: 14px;
}

.xdai-subscription {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: $tablet-width) {
        justify-content: space-between;
        flex-direction: row;
    }
    .news-title {
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin-bottom: 14px;
        color: $xdai-primary;
        position: relative;
        top: -4px;
    }
    .news-form.newsletter {
        margin-top: 20px;
        flex-grow: 2;
        width: 100%;
        @media (min-width: $tablet-width) {
            margin-top: 0;
            padding-left: 40px;
            padding-right: 40px;
            width: auto;
        }
        .btn {
            margin-top: 20px;
            @media (min-width: $tablet-width) {
                margin-left: 18px;
                margin-top: 0;
            }
        }
    }

    .input-group {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet-width) {
            flex-direction: row;
        }
        .input, .btn {
            min-width: 100%;
            @media (min-width: $tablet-width) {
                min-width: auto;
            }
        }
    }

    .xdai-subscription-image.clouds {
        display: none;
        @media (min-width: $tablet-width) {
            display: inline-block;
        }
    }
}

.xdai-wallets {
    .container {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet-width) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.xdai-wallets-content {
    @media (min-width: $tablet-width) {
        max-width: 390px;
    }
}

.wallet-content-top {
    text-align: center;
    @media (min-width: $tablet-width) {
        text-align: left;
    }
}

.wallet-item {
    display: inline-block;
    border: solid 1px #e3e9fa;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: .2s ease-in;
    &:hover {
        background-color: $xdai-green;
        box-shadow: 0px 10px 20px 0 rgba(21,187,166,0.25);
        border-color: $xdai-green;
        .wallet-item-text {
            h3, span {
                color: #fff;
            }
            h3 {
                span {
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
        .wallet-item-img {
            border-color: #fff;
        }
    }
    .wallet-item-img {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        position: relative;
        border: 1px solid #e3e9fa;
        border-radius: 2px;
        margin-right: 20px;
        background-color: #fff;
        transition: .2s ease-in;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .wallet-item-text {
        position: relative;
        top: 2px;
        h3 {
            font-size: 14px;
            color: #333;
            transition: .2s ease-in;
            span {
                color: #666;
            }
        }
        span {
            font-size: 12px;
            color: $xdai-green;
            transition: .2s ease-in;
        }
    }
}

.xdai-wallets-illustr {
    height: auto;
    text-align: center;
    margin-top: 40px;
    @media (min-width: $tablet-width) {
        padding-left: 30px;
        text-align: right;
        margin-top: 0;
    }
    img {
        max-width: 70%;
        @media (min-width: $tablet-width) {
            max-width: 90%;
        }
        @media (min-width: 860px) {
            max-width: 392px;
        }
    }
}

.news-list-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.news-elem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & + .news-elem {
        margin-top: 30px;
        @media (min-width: $tablet-width) {
            margin-top: 0;
        }
    }
    @media (min-width: $tablet-width) {
        flex: 0 0 calc(33.3333% - 50px);
    }

    h3 {
        font-weight: 700;
        color: #333;
        font-size: 14px;
        line-height: 1.71;
        a {
            color: #333;
            transition: .2s ease-in;
            &:hover {
                color: darken(#6ab9a5, 10);
            }
        }
    }

    .news-elem-img {
        margin-bottom: 30px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 20px 40px 0px rgba(65, 69, 107, 0.15);
        img {
            width: 100%;
            height: auto;
        }
    }

    p {
        display: block;
        padding-top: 0;
        margin-top: 8px;
        font-size: 12px;
        line-height: 2;
    }

    .find-out-more {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        color: #6ab9a5;
        transition: .2s ease-in;
        &:hover {
            color: darken(#6ab9a5, 10);
        }
    }
}