<main class="docs-container">
    <div class="sidebar">
      <aside class="sidebar-inner">
        <h2>
          <a href="/docs">
            Docs
          </a>
        </h2><div class="docs-nav-items"><h3>Welcome</h3>
    <ul><li><a href="/docs/welcome/" class="active">Introduction</a></li><ul class="table-of-contents"><li class="level-2">
              <a href="https://forestry.io/docs/welcome/#introduction">Introduction</a>
            </li><li class="level-2">
              <a href="https://forestry.io/docs/welcome/#what-is-forestry">What is Forestry?</a>
            </li><li class="level-2">
              <a href="https://forestry.io/docs/welcome/#advantages">Advantages</a>
            </li></ul></ul><h3>Quick Start</h3>
    <ul><li><a href="/docs/quickstart/tour/">Product Tour</a></li><li><a href="/docs/quickstart/setup-site/">Setup Your Site</a></li><li><a href="/docs/quickstart/configure-cms/">Configure the CMS</a></li></ul><h3>Git Sync</h3>
    <ul><li><a href="/docs/git-sync/">Connecting to a Source Provider</a></li><li><a href="/docs/git-sync/github/">GitHub</a></li><li><a href="/docs/git-sync/gitlab/">GitLab</a></li><li><a href="/docs/git-sync/bitbucket/">Bitbucket</a></li><li><a href="/docs/git-sync/azure-devops/">Azure DevOps</a></li><li><a href="/docs/git-sync/manual-setup/">Manual Setup</a></li></ul><h3>Editing</h3>
    <ul><li><a href="/docs/editing/">Managing Content</a></li><li><a href="/docs/editing/markdown-editor/">Markdown Editor</a></li><li><a href="/docs/editing/front-matter/">Front Matter</a></li><li><a href="/docs/editing/data-files/">Data Files</a></li><li><a href="/docs/editing/menus/">Menus</a></li><li><a href="/docs/editing/media-library/">Media Library</a></li><li><a href="/docs/editing/remote-admin/">Remote Admin</a></li></ul><h3>Media</h3>
    <ul><li><a href="/docs/media/">Storing Media Files</a></li><li><a href="/docs/media/git/">Git</a></li><li><a href="/docs/media/cloudinary/">Cloudinary</a></li><li><a href="/docs/media/s3/">S3</a></li><li><a href="/docs/media/netlify-large-media/">Netlify Large Media</a></li></ul><h3>Settings &amp; Configuration</h3>
    <ul><li><a href="/docs/settings/">All Settings</a></li><li><a href="/docs/settings/front-matter-templates/">Front Matter Templates</a></li><li><a href="/docs/settings/fields/">Fields</a></li><li><a href="/docs/settings/content-sections/">Sidebar Configuration</a></li><li><a href="/docs/settings/config-files/">Config Files</a></li><li><a href="/docs/settings/snippets/">Snippets</a></li><li><a href="/docs/settings/collaborators/">Collaborators &amp; Teams</a></li></ul><h3>Organizations</h3>
    <ul><li><a href="/docs/collaboration/organizations/">About Organizations</a></li></ul><h3>Previews</h3>
    <ul><li><a href="/docs/previews/about-previews/">About Previews</a></li><li><a href="/docs/previews/instant-previews/">Instant Previews</a></li><li><a href="/docs/previews/instant-previews-server/">Using Instant Previews</a></li><li><a href="/docs/previews/troubleshooting-preview-issues/">Troubleshooting </a></li></ul><h3>Hosting</h3>
    <ul><li><a href="/docs/hosting/">Hosting Options</a></li><li><a href="/docs/hosting/s3-cloudfront-stack/">AWS</a></li><li><a href="/docs/hosting/github-pages/">GitHub Pages</a></li><li><a href="/docs/hosting/ftp/">FTP/SFTP</a></li><li><a href="/docs/hosting/webhooks/">Webhooks</a></li></ul><h3>Developer Guides</h3>
    <ul><li><a href="/docs/guides/developing-with-hugo/">Hugo</a></li><li><a href="/docs/guides/developing-with-jekyll/">Jekyll</a></li><li><a href="/docs/guides/developing-with-gatsby/">Gatsby</a></li></ul><h3>Other</h3>
    <ul><li><a href="/docs/troubleshooting/">Troubleshooting</a></li><li><a href="/docs/faqs/">Frequently Asked Questions</a></li><li><a href="/docs/changelog/">Changelog</a></li><li><a href="/docs/sunset/">Sunset Notices</a></li><li><a href="/docs/import-button/">Import Button</a></li><li><a href="/docs/beta-testers/">Beta Testers</a></li></ul><h3>Pro</h3>
    <ul><li><a href="/docs/pro/features/pro-plans/">Pro Plans</a></li><li><a href="/docs/pro/features/audit-logging/">Audit Logging</a></li><li><a href="/docs/pro/features/single-sign-on/">Single Sign-on</a></li></ul></div></aside>
    </div>
    <section class="docs-content">
      <div class="container md-content">
        <h1>Introduction</h1>
        
  
  
  
  
  
  
  
  
  
  
  
    
  
    
  
  

<h2 id="introduction" data-hlink=""><a href="/docs/welcome/#introduction" data-scroll="">Introduction<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M960 256q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm832 928v352q0 22-20 30-8 2-12 2-12 0-23-9l-93-93q-119 143-318.5 226.5t-429.5 83.5-429.5-83.5-318.5-226.5l-93 93q-9 9-23 9-4 0-12-2-20-8-20-30v-352q0-14 9-23t23-9h352q22 0 30 20 8 19-7 35l-100 100q67 91 189.5 153.5t271.5 82.5v-647h-192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h192v-163q-58-34-93-92.5t-35-128.5q0-106 75-181t181-75 181 75 75 181q0 70-35 128.5t-93 92.5v163h192q26 0 45 19t19 45v128q0 26-19 45t-45 19h-192v647q149-20 271.5-82.5t189.5-153.5l-100-100q-15-16-7-35 8-20 30-20h352q14 0 23 9t9 23z" transform="scale(0.00875)"></path></svg></a></h2>

<p>Forestry.io is a Git-backed CMS (content management system) for websites and web products built using&nbsp;<a href="https://forestry.io/docs/faqs/glossary/static-site-generators/" title="Static Site Generators"><strong><em>static site generators</em></strong></a>. Forestry bridges the gap between developers and their teams, by making development fun and easy, while providing powerful content management for their teams.</p>

<div class="shortcode-tip"><p><a href="https://app.forestry.io/signup" title="Forestry CMS Sign Up"><strong>Sign up</strong></a>&nbsp;for free today, or learn more about our&nbsp;<a href="https://forestry.io/pricing" title="Forestry.io's Pricing"><strong>pricing</strong></a>&nbsp;for teams.</p>

</div>

<h2 id="what-is-forestry" data-hlink=""><a href="/docs/welcome/#what-is-forestry" data-scroll="">What is Forestry?<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M960 256q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm832 928v352q0 22-20 30-8 2-12 2-12 0-23-9l-93-93q-119 143-318.5 226.5t-429.5 83.5-429.5-83.5-318.5-226.5l-93 93q-9 9-23 9-4 0-12-2-20-8-20-30v-352q0-14 9-23t23-9h352q22 0 30 20 8 19-7 35l-100 100q67 91 189.5 153.5t271.5 82.5v-647h-192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h192v-163q-58-34-93-92.5t-35-128.5q0-106 75-181t181-75 181 75 75 181q0 70-35 128.5t-93 92.5v163h192q26 0 45 19t19 45v128q0 26-19 45t-45 19h-192v647q149-20 271.5-82.5t189.5-153.5l-100-100q-15-16-7-35 8-20 30-20h352q14 0 23 9t9 23z" transform="scale(0.00875)"></path></svg></a></h2>

<p>The main thing to understand is that Forestry – unlike other content management systems – is entirely backed by Git.</p>

<p>To put it simply, Forestry is an editor-friendly interface over Git. This means that developers and editors can now use the same workflow and tool set.</p>

<p>This also means that all of your content and code always belongs to you, and is not stored in a database in the cloud out of your reach.</p>

<h2 id="advantages" data-hlink=""><a href="/docs/welcome/#advantages" data-scroll="">Advantages<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M960 256q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm832 928v352q0 22-20 30-8 2-12 2-12 0-23-9l-93-93q-119 143-318.5 226.5t-429.5 83.5-429.5-83.5-318.5-226.5l-93 93q-9 9-23 9-4 0-12-2-20-8-20-30v-352q0-14 9-23t23-9h352q22 0 30 20 8 19-7 35l-100 100q67 91 189.5 153.5t271.5 82.5v-647h-192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h192v-163q-58-34-93-92.5t-35-128.5q0-106 75-181t181-75 181 75 75 181q0 70-35 128.5t-93 92.5v163h192q26 0 45 19t19 45v128q0 26-19 45t-45 19h-192v647q149-20 271.5-82.5t189.5-153.5l-100-100q-15-16-7-35 8-20 30-20h352q14 0 23 9t9 23z" transform="scale(0.00875)"></path></svg></a></h2>

<p>Choosing to build a static site and use a Git-backed CMS comes with a multitude of advantages over the traditional Monolithic CMS:</p>

<h3 id="speed-reliability-and-security" data-hlink=""><a href="/docs/welcome/#speed-reliability-and-security" data-scroll="">Speed, reliability, and security<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M960 256q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm832 928v352q0 22-20 30-8 2-12 2-12 0-23-9l-93-93q-119 143-318.5 226.5t-429.5 83.5-429.5-83.5-318.5-226.5l-93 93q-9 9-23 9-4 0-12-2-20-8-20-30v-352q0-14 9-23t23-9h352q22 0 30 20 8 19-7 35l-100 100q67 91 189.5 153.5t271.5 82.5v-647h-192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h192v-163q-58-34-93-92.5t-35-128.5q0-106 75-181t181-75 181 75 75 181q0 70-35 128.5t-93 92.5v163h192q26 0 45 19t19 45v128q0 26-19 45t-45 19h-192v647q149-20 271.5-82.5t189.5-153.5l-100-100q-15-16-7-35 8-20 30-20h352q14 0 23 9t9 23z" transform="scale(0.00875)"></path></svg></a></h3>

<p>Static sites don’t require a complicated server setup to allow for the dynamic rendering of pages. This means your sites download faster for visitors, can handle insane volumes of traffic, and have much fewer touch points that are vulnerable to hacking.</p>

<h3 id="continuous-deployment" data-hlink=""><a href="/docs/welcome/#continuous-deployment" data-scroll="">Continuous Deployment<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M960 256q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm832 928v352q0 22-20 30-8 2-12 2-12 0-23-9l-93-93q-119 143-318.5 226.5t-429.5 83.5-429.5-83.5-318.5-226.5l-93 93q-9 9-23 9-4 0-12-2-20-8-20-30v-352q0-14 9-23t23-9h352q22 0 30 20 8 19-7 35l-100 100q67 91 189.5 153.5t271.5 82.5v-647h-192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h192v-163q-58-34-93-92.5t-35-128.5q0-106 75-181t181-75 181 75 75 181q0 70-35 128.5t-93 92.5v163h192q26 0 45 19t19 45v128q0 26-19 45t-45 19h-192v647q149-20 271.5-82.5t189.5-153.5l-100-100q-15-16-7-35 8-20 30-20h352q14 0 23 9t9 23z" transform="scale(0.00875)"></path></svg></a></h3>

<p>Unlike traditional content management systems, your codebase <em>is</em> your website. That means developers can work on changes to the website locally, and then push to Git and automatically have them deployed to production.</p>

<h3 id="unified-workflow" data-hlink=""><a href="/docs/welcome/#unified-workflow" data-scroll="">Unified Workflow<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M960 256q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm832 928v352q0 22-20 30-8 2-12 2-12 0-23-9l-93-93q-119 143-318.5 226.5t-429.5 83.5-429.5-83.5-318.5-226.5l-93 93q-9 9-23 9-4 0-12-2-20-8-20-30v-352q0-14 9-23t23-9h352q22 0 30 20 8 19-7 35l-100 100q67 91 189.5 153.5t271.5 82.5v-647h-192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h192v-163q-58-34-93-92.5t-35-128.5q0-106 75-181t181-75 181 75 75 181q0 70-35 128.5t-93 92.5v163h192q26 0 45 19t19 45v128q0 26-19 45t-45 19h-192v647q149-20 271.5-82.5t189.5-153.5l-100-100q-15-16-7-35 8-20 30-20h352q14 0 23 9t9 23z" transform="scale(0.00875)"></path></svg></a></h3>

<p>Gone are the days of developers and editors having completely separate workflows. Developers and editors now work in sync with Git, providing unparalleled ability to deliver quickly and easily.</p>


        <nav class="pagination"><a href="/docs/quickstart/tour/" rel="next"><span class="next-doc">Product Tour</span></a></nav><hr>
        <div class="doc--info">
          <span class="doc--meta-label">Last updated on</span>
          <span class="doc--date">December 31, 2017</span>
        </div>
        <div class="post--feedback">
          <p><small>Caught a mistake or want to contribute to the docs? Edit this page on <a href="https://github.com/forestryio/forestry.io/edit/master/hugo/content/docs/welcome.md" target="_blank">Github</a>!</small></p>
        </div></div>
    </section>
  </main>
